<div class="main-container">
    <div class="container-left">
        <div style="font-size:3vh">{{setShiftStatus}}</div><br/>
        <div style="font-size:2vh" *ngIf="expectedCash != 0 ">Expecting Cash Total: ${{expectedCash}}</div><br/>
        <div style="font-size:2vh; color:#013d79"> {{setShiftText}}</div>
        <div class="btns-set posi-bottom">
            <button class="btn-white" [routerLink]="['/admin']" (click)="hidePopUp();">CANCEL</button>
        </div>
    </div>
    <div class="container-right">
        <div class="cr-r-set">
            <h1>
                <!-- <span class="label label-primary cr-label">${{productTotal | number : '1.2-2'}}</span> -->
                <form [formGroup]="currencyForm">
                        <input type="text" class="form-control label label-primary cr-label" 
                        formControlName="currency"
                        [ngModel]="productTotal | currency: 'USD' : 'symbol-narrow': '1.2-2'"
                        (ngModelChange) ="textAreaEmpty()"
                        (keyup.1)="displayDigit('1')"
                        (keyup.2)="displayDigit('2')"
                        (keyup.3)="displayDigit('3')"
                        (keyup.4)="displayDigit('4')"
                        (keyup.5)="displayDigit('5')"
                        (keyup.6)="displayDigit('6')"
                        (keyup.7)="displayDigit('7')"
                        (keyup.8)="displayDigit('8')"
                        (keyup.9)="displayDigit('9')"
                        (keyup.0)="displayDigit('0')"
                        (keyup.00)="displayDigit('00')" appNumericOnly>
    
                </form>
            </h1>
            <div class="flex">
                <div class="cr-left">
                    <div class="number-btns-set-3" *ngFor="let digit of numberDigits">
                        <button (click)="displayDigit(digit)">{{digit}}</button>
                    </div>
                    <div class="number-btns-set-2" *ngFor="let digit of zeroDigits">
                        <button (click)="displayDigit(digit)">{{digit}}</button>
                    </div>
                    <div class="number-btns-set-1">
                        <button (click)="clearDigit(0)">Clear</button>
                    </div>
                </div>
                <div class="cr-right">
                    <button data-toggle="modal" (click)="validShifts();">Enter</button>

                </div>
                <!-- Modal -->
                <div class="modal fade" id="openShiftModal" role="dialog">
                    <div class="modal-dialog modal-sm  modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Cash Drawer is Open</h4>
                            </div>
                            <div class="modal-body">
                                <p>Please put the cash till, with the full opening amount, in the cash drawer. Click "OK" when the cash drawer is closed.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cashDrawer();">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="closeShiftModal" role="dialog">
                    <div class="modal-dialog modal-sm  modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Please Confirm</h4>
                            </div>
                            <div class="modal-body">
                                <p>Is ${{productTotal | number : '1.2-2'}} the correct amount in your cash drawer ?
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">No,
                                    Cancel</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" href="#confirmCashModal">Yes, Close Shift</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="confirmCashModal" role="dialog">
                    <div class="modal-dialog modal-sm  modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Cash Drawer is Open</h4>
                            </div>
                            <div class="modal-body">
                                <p>Please take out the cash till, Click "OK" when your ready to continue
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="mainAndReliefShiftClose();">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>