@charset "utf-8";

/* CSS Document */

ul {
    list-style-type: none;
}

.form-control:focus {
    color: white;
}

.main-container {
    background-color: #777777;
    display: flex;
    padding: 10px 5px;
    height: calc(100vh - 74px);
}

.container-left {
    width: 40%;
    float: left;
    background-color: #f0f3fa;
    border-radius: 5px;
    margin: 0 5px;
    padding: 20px;
    position: relative;
}

.container-right {
    width: 60%;
    float: left;
    margin: 0 5px;
    border-radius: 5px;
}

.container-right-calc {
    width: 60%;
    float: left;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 5px;
    padding: 20px;
}

.container-left textarea {
    width: 100%;
    border-radius: 5px;
    font-size: 24px;
    height: 300px;
}

.flex {
    display: flex
}

.float-left {
    margin-right: auto
}

.float-right {
    margin-left: auto
}

.sub-total {
    background-color: #fafafa;
    border: 1px solid #cccccc;
    padding: 1vh;
    margin: 2vh 0;
    font-size: 2vh;
}

.sub-total hr {
    margin: 3vh 0 3vh 0;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #9a9a9a;
}

.sub-total .totals {
    font-size: 3vh;
}

.btn-white-top {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #333;
    font-size: 2.2vh;
    padding: 1.5vh 15px;
    width: calc(50% - 3.5vh);
    margin: 0 0px 0 14px;
    margin-right: 5px;
}

.btn-white-top-cancel {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #202020;
    font-size: 2.2vh;
    padding: 2.5vh 15px;
    width: calc(85%);
    margin: 0 0 0 35px;
}

.btn-white-top-cancel-checkout {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #202020;
    font-size: 3.2vh;
    width: 100%;
    padding: 1.3vh;
    text-transform: uppercase;
}

.posi-bottom {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 40px);
}

.btn-white {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #333333;
    font-size: 2.5vh;
    padding: 1.35vh 15px;
    width: calc(50% - 15px);
    text-transform: uppercase;
    margin-right: 5px;
}

.btn-white-slide {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #333333;
    font-size: 2.5vh;
    padding: 0.5vh 15px;
    width: calc(50% - 10px);
    margin: 0 5px;
}

.btn-orange-slide {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #d65400;
    font-size: 2.5vh;
    padding: 0.5vh 15px;
    width: calc(50% - 10px);
    margin: 0 5px;
}

.btn-orange-slide:active {
    background-color: #7fc0ff;
    color: #d65400;
}

.btn-white-slide:active {
    background-color: #7fc0ff;
    color: #fff;
}

.btn-white-cancel {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #333333;
    font-size: 2.5vh;
    padding: 2.5vh 15px;
    width: calc(100%);
    text-transform: uppercase;
}

.pay-amount {
    color: #337ab7;
    font-size: 18px;
}

.btn-orange {
    background-color: #d65400;
    border: 1px solid #d65400;
    border-radius: 5px;
    color: #fff;
    font-size: 2.5vh;
    padding: 1.25vh 15px;
    width: calc(50% - 3.5vh);
    margin-left: 5px;
    text-transform: uppercase;
}

.btn-orange-bottom {
    background-color: #d65400;
    border: 1px solid #d65400;
    border-radius: 5px;
    color: #fff;
    font-size: 2.5vh;
    padding: 1.25vh 15px;
    width: 50%;
    text-transform: uppercase;
    margin-left: 10px;
}

.btn-orange:active,
.btn-orange-bottom:active {
    background-color: #fff!important;
    border: 1px solid #cccccc!important;
    color: #d65400!important;
    box-shadow: none!important;
    outline: none!important;
}

.header-l {
    margin: 0 0 15px 0;
}

.add-product-head {
    margin: 0!important;
}

.add-product-head button {
    border-radius: 5px 5px 0 0!important
}

.btn-b-white {
    width: 100%;
    margin-left: 5px;
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #000;
    font-size: 2vh;
    padding: 1.2vh 15px;
}

.nonFare,
.regularRoute {
    width: 100%;
    margin-left: 5px;
    background-color: #fff;
    border-radius: 5px;
    color: #d65400;
    font-size: 2vh;
    padding: 1.2vh 15px;
    border: 1px solid #ccc;
}

.btn-primary {
    padding: 20px 15px;
    width: 30%;
    border-radius: 5px;
    background-color: #013d79;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 100;
}


/* 
.slide:last-child button {
    width: 25vh;
    background-color: #fff;
    border-radius: 5px;
    color: #d65400;
    font-size: 2vh;
    padding: 1.2vh 15px;
    border: 1px solid #ccc;
} */

.btndefault {
    padding: 10px 15px;
    width: 30%;
    border-radius: 5px;
    background-color: #ffffff;
    background-image: none;
    display: inline-block;
    border: 1px solid #ccc;
    font-size: 20px;
}

.merch-btn {
    margin: 20px 0
}

.flex-wrap {
    flex-flow: row wrap;
}

.flex-right-items .products {
    width: calc(50% - 20px);
    margin: 0 10px;
    float: left;
}

.flex-right-items .custom-products {
    width: 50%;
    float: right;
}

.flex-right-items .custom-products button {
    /* flex: 1 1 calc(48% - 15px); */
    /* max-width: calc(48% - 15px); */
    /* margin: 15px; */
    width: calc(100% - 30px);
    padding: 43px 0px 70px 0px;
    border-radius: 7px;
    color: #3b80c3;
    font-size: 1.25em;
    border: 1px solid #c4c4c4;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fcfcfc+18,fafafa+52,f7f7f7+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 18%, #fafafa 52%, #f7f7f7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 18%, #fafafa 52%, #f7f7f7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 18%, #fafafa 52%, #f7f7f7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
    /* IE6-9 */
}

.flex-right-items .products button {
    /* flex: 1 1 calc(48% - 15px); */
    /* max-width: calc(48% - 15px); */
    /* margin: 15px; */
    width: 100%;
    padding: 10px 0;
    border-radius: 7px;
    color: #3b80c3;
    font-size: 1.25em;
    border: 1px solid #c4c4c4;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fcfcfc+18,fafafa+52,f7f7f7+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 18%, #fafafa 52%, #f7f7f7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 18%, #fafafa 52%, #f7f7f7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 18%, #fafafa 52%, #f7f7f7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
    /* IE6-9 */
}

.flex-right-items .custom-products button:active,
.flex-right-items .products button:active {
    background: #7fc0ff;
    color: #fff;
}

.container-right h1 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    color: #d65400
}

.cardBtn {
    width: 250px;
    height: 80px;
}

.nav-justified>li {
    display: table-cell;
    width: initial;
}

.container {
    width: 100%;
    background-color: #fafafa;
    padding: 100px;
    border: 1px solid #ccc;
}

.container-l-app .label {
    display: block;
    text-align: left;
    padding: 2px;
    background-color: #e3e3e3;
    color: #000;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 100;
}

.container-l-app .label div {
    padding: 10px
}

.container-l-app .label div.pull-right {
    background-color: #fff;
}

.cr-label {
    background-color: #337ab7;
    width: 100%;
    display: block;
    text-align: right;
    padding: 5vh 1.5vh;
    border-radius: 0;
    font-size: 6vh;
    font-weight: 100;
    margin-bottom: 3vh;
}

.cr-left {
    width: 60%;
    float: left;
}

.cr-right {
    width: 40%;
    float: right;
}

.nodata {
    margin-top: -43%;
    font-size: 18px;
}

.cr-right-custom {
    width: 40%;
    float: right;
    padding: 0px 20px 0px 55px;
}

.cr-left .number-btns-set-3 button {
    width: 31%;
    margin: 1%;
    float: left;
    font-size: 2.4vh;
    color: #3b80c2;
}

.cr-left .number-btns-set-2 button {
    width: 47.5%;
    margin: 1%;
    float: left;
    font-size: 2.4vh;
    color: #3b80c2;
}

.cr-left .number-btns-set-1 button {
    width: 97%;
    margin: 1%;
    font-size: 2.4vh;
    color: #3b80c2;
    text-transform: uppercase;
}

.cr-left button {
    padding: 4.2vh;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fcfcfc+18,fafafa+52,f7f7f7+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 18%, #fafafa 52%, #f7f7f7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #fcfcfc 18%, #fafafa 52%, #f7f7f7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #fcfcfc 18%, #fafafa 52%, #f7f7f7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
    /* IE6-9 */
}

.cr-left button:active {
    background: #7fc0ff;
    color: #fff!important;
}

.cr-right button {
    width: 100%;
    background-color: #d65400;
    border: 1px solid #d65400;
    border-radius: 5px;
    color: #fff;
    font-size: 2.1vh!important;
    padding: 2.50vh 15px;
    margin: 1% 0;
}

.cr-right-custom button {
    width: 100%;
    background-color: #d65400;
    border: 1px solid #d65400;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 2.85vh 15px;
    margin: 1% 0;
    height: 100%;
}

.cr-r-set {
    width: 80%;
    margin: 0 auto
}

.tab-sets {
    background-color: #013D7B;
    padding: 10px;
    height: calc(100vh - 164px);
}

.nav-pills>li>a {
    border-radius: 0!important;
    background-color: #A2B9E3;
}

.nav-pills>li.active a {
    border-radius: 0!important;
    background-color: #3B80C3;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #003C76;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.pop-up-box {
    border: 1px solid #ccc;
    padding: 5px;
    color: #529657;
    font-size: 20px;
    margin: 10px 0;
}

.modal-footer .btn-default {
    background-color: #d65400;
    border: 1px solid #d65400;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    margin: 0 5px;
    width: 50%;
}

.modal-footer {
    justify-content: center;
}

.pay-as-you {
    width: 100%;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 3px;
    padding: 14px;
    color: #fff;
}

.tab-sets .nav>li>a {
    position: relative;
    display: block;
    padding: 17px 2vw;
    font-size: 1vw;
}

.flex-contain-full {
    height: calc(100vh - 225px);
}

.flex-contain-full-w1 {
    background-color: #fff;
    height: calc(100vh - 235px);
    padding: 10px;
    width: 100%!important;
}

.flex-contain-full-w2 {
    background-color: #fff;
    height: calc(100vh - 185px);
    padding: 10px;
    width: 100%!important;
}

.btns-mag {
    margin-bottom: 12vh;
}

.container-l-app {
    width: 100%;
    background-color: #fafafa;
    padding: 1.5vh;
    border: 1px solid #ccc;
    overflow: auto;
    height: 42vh;
}

@media (max-width: 1550px) {
    .btn-white,
    .btn-orange,
    .btn-white-top-cancel,
    .btn-white-top {
        font-size: 2.5vh;
        padding: 1.3vh 15px;
    }
    .sub-total {
        margin: 1vh 0;
    }
    .container-l-app {
        height: 42vh;
    }
    .btn-orange,
    .btn-white-top {
        width: calc(50% - 5.5vh);
    }
    .btns-mag {
        margin-bottom: 9vh;
    }
    .btn-white-cancel {
        font-size: 3.5vh;
        padding: 2.5vh 52px;
        margin-top: 91%;
    }
    .sub-total {
        margin: 1vh 0;
    }
    .container-l-app {
        height: 42vh;
    }
    .btn-white-top-cancel {
        width: calc(100% - 12vh);
    }
}

.carousel {
    max-width: 100%;
    width: 100%;
    padding: 0;
}


/* 
@media (min-width: 1425px) and (max-width: 19000px) {
    .container-l-app {}
}

@media (min-width: 1230px) and (max-width: 1424px) {
    .container-l-app {
        height: 41vh;
    }
}

@media (min-width: 999px) and (max-width: 1229px) {
    .container-l-app {
        height: 35vh;
    }
}

@media (min-width: 301px) and (max-width: 998px) {
    .container-l-app {
        height: 30vh;
    }
} */

.cardBtn {
    width: 100%;
    border: 1px solid #2064a7;
    border-radius: 3px;
    background-color: #3b80c3;
    padding: 13px 20px;
    color: #fff;
    font-size: 34px;
    position: relative;
    margin: 1px 0 10px;
    float: left;
}

.cardBtn:active {
    background-color: #013d79;
}

.cardBtn .cardBtn:disabled,
.cardBtn[disabled] {
    background-color: #ccc;
    border: 1px solid #999;
    cursor: not-allowed;
    color: #666;
}

.modal-body-in {
    position: relative;
    padding: 15px;
    font-size: 25px!important;
    color: #000!important;
    text-align: center!important;
}

.cancel-btn-pop {
    border: 1px solid #d65400;
    border-radius: 3px;
    background-color: #d65400;
    padding: 10px 15px;
    color: #fff;
    font-size: 22px;
}

.modal-txt-h {
    padding: 25px 0 0 25px;
}

.cardBtn img {
    position: absolute;
    width: 25px;
    right: 20px;
    top: 27px;
}

.modal-custom {
    width: 90%!important;
    max-width: 90%!important;
}

.carousel-indicators {
    /* left: 0;
	top: auto; */
    bottom: -7px;
}


/* The colour of the indicators */

.carousel-indicators li {
    background: #013d79;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 5px;
}


/* .carousel-indicators .active {
    background: #013d79;
} */

#Carousel-products {
    height: calc(100vh - 380px);
}

.cont-products-head {
    font-size: 2vh;
    margin-bottom: 2vh;
}

.remove-icon img {
    width: 20px;
}

.btndefault:disabled {
    color: #aeaeae;
    cursor: not-allowed;
}

.btn-white-top:disabled {
    color: #aeaeae;
    cursor: not-allowed;
}

.btn-white-top-cancel:disabled {
    color: #aeaeae;
    cursor: not-allowed;
}

.btn-cancel {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #333333;
    font-size: 2.5vh;
    padding: 5vh 1.5vh;
    width: 100%;
}

@media (max-width: 1400px) {
    .cr-left button {
        padding: 3.1vh 3.2vh;
    }
    .cr-left .number-btns-set-1 button,
    .cr-left .number-btns-set-2 button,
    .cr-left .number-btns-set-3 button {
        font-size: 3.5vh;
    }
    .cr-right button {
        font-size: 4vh;
    }
}