<!-- <div class="header flex">
   <div class="header-logo pull-left"><img src="assets/images/logo.jpg"/></div>
   <div class="header-info pull-right">
     <div class="login-info">
       <div>CDTA Admin <span>|</span> Terminal: 1258</div>
       <div><a href="#">logout</a></div>
     </div>
   </div>
   </div> -->
<div class="main-container" *ngIf="!isCustomAmount && !applyCompShow">
    <div class="container-left">
        <div class="header-l">
            <img src="assets/images/icon-cart.png" />
            <!-- <button  [disabled]="isMagnetic" class="btn-white-top">View Card</button> -->
            <button [disabled]="isMagnetic" data-toggle="modal" data-target="#viewCard" class="btn-white-top" *ngIf="checkout">VIEW
                CARD</button>
            <button [disabled]="isMagnetic" data-toggle="modal" data-target="#viewCard" class="btn-white-top-cancel" *ngIf="!checkout">VIEW
                    CARD</button>

            <button class="btn-orange" (click)="addCard()" *ngIf="!productCheckOut">ADD CARD</button>
        </div>
        <div class="modal fade" id="viewCard" role="dialog">
            <div class="modal-dialog modal-custom  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        <h4 class="modal-title">Card Summary</h4>
                    </div>
                    <div class="modal-body">
                        <!-- <div *ngFor="let card of viewCardData "> -->
                        <div class="flex-devide">
                            <div class="flex">
                                <div class="flex-devide">
                                    <p>{{active_printed_id}} - {{active_wallet_status}}</p>
                                    <p>Fare Code: {{userFarecode}}</p>
                                    <p>Card Exp: {{active_card_expiration_date_str}}</p>
                                </div>
                                <div class="flex-devide">
                                    <p>Bonus Ride(s): {{bonusRidesCountText}}</p>
                                    <p>Next Bonus: {{nextBonusRidesText}}</p>
                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                        <div class="content-container container-padding">
                            <h1></h1>
                        </div>
                        <div class="flex container-padding flex-row">
                            <table class="table-css">
                                <tr>
                                    <th>Product</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Balance</th>
                                </tr>
                                <tr *ngFor="let product of cardContents">
                                    <td>{{product.product}}</td>
                                    <td>{{product.description}}</td>
                                    <td>{{product.status}}</td>
                                    <td>{{product.balance}}</td>
                                </tr>
                                <!-- <tr>
                                <td>Frequent Rider</td>
                                <td>31 Day Pass</td>
                                <td>{{product.status}}</td>
                                <td>{{product.balance}}</td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- new code  -->
        <div class="btns-mag">
            <!-- <ngx-slick class="slider" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let item of shoppingcart._walletLineItem; let i = index" class="slide">
                    <div class="col-md-6">
                        <button class="btn-white-slide" (click)="activeWallet(item)">{{item._cardPID}}</button>
                    </div>
                </div>
            </ngx-slick> -->

            <div id="Carousel" class="carousel slide col-lg-10 col-offset-2">


                <div class="carousel-inner">
                    <div *ngFor="let item of walletItems; let k = index" [ngClass]="k == currentWalletLineItemIndex ? 'item active' : 'item'">
                        <button [ngClass]="{'btn-white-slide': currentItem != currentWalletLineItem,'btn-orange-slide': currentItem == currentWalletLineItem }" *ngFor="let currentItem of item" (click)="activeWallet(currentItem,k)">{{currentItem._cardPID}}</button>
                    </div>
                </div>
                <br>
                <ol class="carousel-indicators" *ngIf="walletItems.length > 1">
                    <li data-target="#Carousel" *ngFor="let x of walletItems; let i = index" [attr.data-slide-to]="i" [ngClass]="i == currentWalletLineItemIndex? 'active' : ''"></li>
                </ol>
            </div>
            <!-- <div class="slide" *ngFor="let item of shoppingcart._walletLineItem;let i = index" >
                                    <div [ngClass] = "i == 0? active : '' ">
                                        <button class="btn-white-slide" (click)="activeWallet(item)">{{item._cardPID}}</button>
                                  </div>
                                </div> -->
            <!-- <div class="item active">
                                <button type="button" class="btn btn-info">Button</button>
                        </div>
                       <div class="item">
                            <button type="button" class="btn btn-info">Button</button>
                        </div>
                       <div class="item">
                            <button type="button" class="btn btn-info">Button</button>
                        </div> -->

            <!-- <a class="left carousel-control" href="#Carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#Carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a> -->

            <!-- <div class="slide" *ngFor="let item of shoppingcart._walletLineItem">
                <div class="col-md-6">
                    <button class="btn-white-slide" (click)="activeWallet(item)">{{item._cardPID}}</button>
                </div>
            </div> -->
        </div>
        <div class="container-l-app">
            <div>
                <div *ngIf="!isMerchendise" class="cont-products-head"> FARE PRODUCTS</div>
                <div *ngIf="isMerchendise" class="cont-products-head"> NON FARE PRODUCTS</div>
                <span class="label label-default" *ngIf="!isMerchendise">
                    <div class="pull-left" >{{currentWalletLineItem?._description}}</div>

                    <div class="pull-right remove-slide remove-icon" (click)="removeCurrentWalletLineItem()" *ngIf="!productCheckOut">
                            <img src="assets/images/icon-rmproduct.png" />
                       <!-- <span class="glyphicon glyphicon-minus-sign"></span> -->
            </div>
            </span>
            <span class="label label-default" *ngFor="let item of currentWalletLineItem._walletContents ; let i=index">
                    <div class="pull-left">{{item._quantity}}&nbsp;{{item._description}} &nbsp; ${{item?._unitPrice | number : '1.2-2'}}</div>
                    <div class="pull-right remove-icon" (click)="removeProduct(item)" *ngIf="!productCheckOut">
                        <!-- <span class="glyphicon glyphicon-minus-sign"></span> -->
            <img src="assets/images/icon-rmproduct.png" />
        </div>

        </span>
        <!-- <div class="" *ngFor="let merch of merchantList; let j = index">
            <span *ngIf="productCardList[j] == currentCard.printed_id" class="label label-default">
                       <div class="pull-left">{{quantityList[j]}} &nbsp; {{merch.Description}} &nbsp;
                          {{merch.Ticket.Price}}
                       </div>
                       <div class="pull-right"
                          (click)="(isMagnetic)?removeMagneticProduct(merch):removeProduct(merch)"><span
                          class="glyphicon glyphicon-minus-sign"></span></div>
        </span>
    </div> -->
    </div>
    <!-- 
                 <div *ngIf="isMagnetic">
                     <span class="label label-default">
                                 <div class="pull-left">1 New Magnetics</div>
                 
                                 <div class="pull-right" (click)="removeMagneticCard()"><span
                                         class="glyphicon glyphicon-minus-sign"></span></div>
                 
                 </span>
                 <div class="" *ngFor="let merch of MagneticList; let j = index">
                 
                     <span *ngIf="magneticIds[j] == currentMagneticIndex" class="label label-default">
                                     <div class="pull-left">{{merch.Description}} &nbsp; {{merch.Ticket.Price}}</div>
                 
                                     <div class="pull-right" (click)="removeMagneticProduct(merch)"><span
                                             class="glyphicon glyphicon-minus-sign"></span></div>
                 
                 </span>
                 </div>
                 </div> -->
    <!-- <div *ngIf="isMerchendise">
                 <span *ngIf="isMerchendise"> NON FARE PRODUCTS</span>
                 
                 <div class="" *ngFor="let merch of merchantiseList; let k = index">
                     <span class="label label-default">
                 
                 
                                     <div class="pull-left">{{merch.quantity}} &nbsp; {{merch.Description}} &nbsp;
                                         {{merch.UnitPrice}}</div>
                 
                                     <div class="pull-right" (click)="removeMerchProduct(merch)"><span
                                             class="glyphicon glyphicon-minus-sign"></span></div>
                 
                 </span>
                 </div>
                 </div> -->
</div>
<div class="sub-total " *ngIf="!isCashApplied && !isVoucherApplied && !isCheckApplied && !isCardApplied">
    <div class="flex">
        <div class="float-left" *ngIf="!isMerchendise">Fare Products Subtotal</div>
        <div class="float-left" *ngIf="isMerchendise">Non - Fare Products Subtotal</div>
        <div class="float-right">${{subTotal | number : '1.2-2'}}</div>
    </div>

    <hr>
    <div class="flex totals">
        <div class="float-left">Total Due</div>
        <div class="float-right" *ngIf="!isCompApplied">${{totalDue | number : '1.2-2'}}</div>
        <div class="float-right" *ngIf="isCompApplied">${{compDue | number : '1.2-2'}}</div>
    </div>
</div>
<div class="sub-total " *ngIf="isCashApplied || isVoucherApplied || isCheckApplied || isCardApplied">
    <div class="flex">
        <div class="float-left">Total Due</div>
        <div class="float-right">${{totalDue | number : '1.2-2'}}</div>
    </div>
    <div class="flex" *ngIf="isCashApplied">
        <div class="float-left">Cash Applied</div>
        <div class="float-right">${{cashAppliedTotal | number : '1.2-2'}}</div>
    </div>
    <div class="flex" *ngIf="isVoucherApplied">
        <div class="float-left">Voucher Applied</div>
        <div class="float-right">${{voucherAppliedTotal | number : '1.2-2'}}</div>
    </div>
    <div class="flex" *ngIf="isCheckApplied">
        <div class="float-left">Check Applied</div>
        <div class="float-right">${{checkAppliedTotal | number : '1.2-2'}}</div>
    </div>

    <div class="flex" *ngIf="isCardApplied">
        <div class="float-left">Credit Applied</div>
        <div class="float-right">${{cardAppliedTotal | number : '1.2-2'}}</div>
    </div>

    <hr>
    <div class="flex totals">
        <div class="float-left">Total Remaining</div>
        <div class="float-right">${{totalRemaining | number : '1.2-2'}}</div>
    </div>


</div>
<div class="btns-set">
    <button class="btn-white" (click)="navigateToReadCard()" *ngIf="!productCheckOut">Cancel</button>
    <button class="btn-orange-bottom" (click)="productCheckout()" *ngIf="!productCheckOut">Checkout</button>
    <button class="btn-white-top-cancel-checkout" *ngIf="productCheckOut" (click)="cancelCheckout()">CANCEL CHECKOUT</button>
</div>
</div>
<div class="container-right" *ngIf="checkout">
    <div class="flex header-l add-product-head">
        <button [ngClass]="{'btn btndefault': regularRoute , 'btn btn-primary': !regularRoute}" [disabled]="regularRoute">Regular Route</button>
        <button [ngClass]="{'btn btndefault': !regularRoute , 'btn btn-primary': regularRoute}" [disabled]="nonFare">NON-FARE</button>
    </div>
    <div class="tab-sets">
        <ul class="nav nav-pills" *ngIf="!regularRoute">
            <li [ngClass]="selectedProductCategoryIndex == 0? 'active': ''" (click)="frequentRide()"><a data-toggle="pill">FREQUENT RIDER</a></li>
            <li [ngClass]="selectedProductCategoryIndex == 1? 'active': ''" (click)="storedValue()"><a data-toggle="pill">STORED RIDE PASS</a></li>
            <li [ngClass]="selectedProductCategoryIndex == 2? 'active': ''" (click)="payValue()"><a data-toggle="pill">PAY AS YOU GO</a></li>
        </ul>
        <div class="flex-wrap flex-right-items flex-contain-full-w1" *ngIf="!regularRoute">
            <div id="Carousel-products" class="carousel slide">
                <div class="carousel-inner">
                    <div *ngFor="let item of walletItemContents; let k = index" [ngClass]="k == 0 ? 'item active' : 'item'">
                        <div class="products" *ngFor="let currentItem of item">
                            <button class="cardBtn" (click)="addProductToWallet(currentItem)">{{currentItem.Description}}<br />${{currentItem.UnitPrice}}</button>

                        </div>
                    </div>
                </div>
                <br>
                <ol class="carousel-indicators" *ngIf="merchantise.length > 6">
                    <li data-target="#Carousel-products" *ngFor="let x of walletItemContents; let i = index" [attr.data-slide-to]="i" [ngClass]="i == 0? 'active' : ''"></li>
                </ol>
            </div>

            <div class="custom-products" *ngIf="walletItemContents.length !=0">
                <button class="cardBtn" *ngIf="selectedProductCategoryIndex == '2'" (click)="customAmount(walletItemContents[0][0])">Custom Amount</button>
            </div>

            <!-- <div class="products" *ngFor="let merch of merchantise | slice:0:5"> -->
            <!-- <button class="cardBtn" (click)="(isMagnetic)?getSelectedMagneticProductData(merch):getSelectedProductData(merch)">{{merch.Description}}<br />${{merch.UnitPrice}}</button> -->

            <!-- <button class="cardBtn" (click)="addProductToWallet(merch)">{{merch.Description}}<br />${{merch.UnitPrice}}</button> -->
            <!-- </div> -->
            <div *ngIf="merchantise.length == 0">
                <h4 class="nodata">No Products Found</h4>
            </div>
        </div>
        <div class=" flex-wrap flex-right-items flex-contain-full-w2" *ngIf="regularRoute">
            <!-- <div *ngFor="let merch of merchantise"> -->
            <!-- <button class="cardBtn" (click)="getSelectedMerchProductData(merch)">{{merch.Description}}<br />${{merch.UnitPrice}}</button> -->
            <!-- <button class="cardBtn" (click)="addProductToWallet(merch)">{{merch.Description}}<br />${{merch.UnitPrice}}</button> -->
            <!-- </div> -->
            <div id="Carousel-products" class="carousel slide">
                <div class="carousel-inner">
                    <div *ngFor="let item of walletItemContents; let k = index" [ngClass]="k == 0 ? 'item active' : 'item'">
                        <div class="products" *ngFor="let currentItem of item">
                            <button class="cardBtn" (click)="addProductToWallet(currentItem)">{{currentItem.Description}}<br />${{currentItem.UnitPrice}}</button>

                        </div>
                    </div>
                </div>
                <br>
                <ol class="carousel-indicators" *ngIf="merchantise.length > 8">
                    <li data-target="#Carousel-products" *ngFor="let x of walletItemContents; let i = index" [attr.data-slide-to]="i" [ngClass]="i == 0? 'active' : ''"></li>
                </ol>
            </div>
            <!-- </div> -->

            <!-- <div id="Carousel" class="carousel slide col-lg-10 col-offset-2">
             
            
                <div class="carousel-inner">
                    <div *ngFor="let item of walletItems; let k = index" [ngClass]="k == currentWalletLineItemIndex ? 'item active' : 'item'" >
                        <button [ngClass]="{'btn-white-slide': currentItem != currentWalletLineItem,'btn-orange-slide': currentItem == currentWalletLineItem }" *ngFor="let currentItem of item"  (click)="activeWallet(currentItem,k)">{{currentItem._cardPID}}</button>
                    </div>
                </div>
                <br>
                
        </div> -->
        </div>
    </div>
</div>
<div class="container-right-calc" *ngIf="!checkout">
    <div class="cr-r-set">
        <h1>
            <form [formGroup]="currencyForm">
                <input type="text" class="form-control label label-primary cr-label" formControlName="currency" [ngModel]="checkoutTotal | currency: 'USD' : 'symbol-narrow': '1.2-2' | noComma" (ngModelChange)="textAreaEmpty()" (keyup.1)="displayDigit('1')" (keyup.2)="displayDigit('2')"
                    (keyup.3)="displayDigit('3')" (keyup.4)="displayDigit('4')" (keyup.5)="displayDigit('5')" (keyup.6)="displayDigit('6')" (keyup.7)="displayDigit('7')" (keyup.8)="displayDigit('8')" (keyup.9)="displayDigit('9')" (keyup.0)="displayDigit('0')"
                    (keyup.00)="displayDigit('00')" (keyup.backspace)="onBackSpace()" appNumericOnly>

            </form>
            <!-- <span class="label label-primary cr-label">${{checkoutTotal | number : '1.2-2'}}</span> -->

        </h1>
        <div class="flex">
            <div class="cr-left">
                <div class="number-btns-set-3" *ngFor="let digit of numberDigits">
                    <button (click)="displayDigit(digit)">{{digit}}</button>
                </div>
                <div class="number-btns-set-2" *ngFor="let digit of zeroDigits">
                    <button (click)="displayDigit(digit)">{{digit}}</button>
                    <!-- <button>00</button> -->
                </div>
                <div class="number-btns-set-1">
                    <button (click)="clearDigit(0)">Clear</button>
                </div>
            </div>
            <div class="cr-right">
                <button data-toggle="modal" (click)="paymentByCash()">Cash</button>
                <button data-toggle="modal" (click)="cardApplied()">Credit or Debit Card</button>
                <button data-toggle="modal" (click)="paymentByCheck()">Check</button>
                <button data-toggle="modal" data-target="#fareCardModal">Existing Farecard</button>
                <button data-toggle="modal" (click)="paymentByVoucher()">Voucher</button>
                <button data-toggle="modal" data-target="#payasyougoModal">Pay As You Go</button>
                <button data-toggle="modal" (click)="compApplied()">Comp</button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="invalidAmountModal" role="dialog">
                <div class="modal-dialog modal-sm  modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <p>Invalid Amount</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Cash Applied</h4>
                        </div>
                        <div class="modal-body">
                            <p>Return change to customer</p>
                            <p>Click "OK" When cash drawer is closed</p>
                            <div class="pop-up-box">
                                <div class="pull-left">Cash Applied </div>
                                <div class="pull-right">${{totalRemaining | number : '1.2-2'}}</div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="pop-up-box">
                                <div class="pull-left">Cash Back </div>
                                <div class="pull-right">${{cashBack | number : '1.2-2'}}</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cashApplied()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="creditCardModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Credit Applied</h4>
                        </div>

                        <div class="modal-body">
                            <!-- <p>Return change to customer</p>
          <p>Click "OK" When cash drawer is closed</p> -->
                            <div class="pop-up-box">
                                <div class="pull-left">Credit Applied </div>
                                <div class="pull-right">${{checkoutTotal | number : '1.2-2'}}</div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" href="#creditdebitCardApplyModal" (click)="cardPayment()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="creditCardApplyModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Continue Transaction</h4>
                        </div>

                        <div class="modal-body">
                            <p>Please continue transaction on pinpad</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancelPinPadTransaction()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="creditCardErrorModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title"> Error </h4>
                        </div>

                        <div class="modal-body">
                            <p>Error sending transaction to pinpad</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="checkModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Check Applied</h4>
                        </div>
                        <div class="modal-body">
                            <p>Click "OK" When cash drawer is closed</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="checkApplied()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="fareCardModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Are you sure you want use an existing fare card ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>By continiuing you confirming that the customer has a fare card for the amount of $50.00 that you are using in place of payment</p>
                            <!-- <div class="pop-up-box">
                                <div class="pull-left">Cash Applied </div>
                                <div class="pull-right">${{productTotal}}</div>
                                <div class="clearfix"></div>
                                </div> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-cancel" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" href="#fareApplyModal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="fareApplyModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Fare Card Applied</h4>
                        </div>
                        <p>Place the Fare Card in the drawer</p>
                        <div class="modal-body">
                            <p>Click "OK" When cash drawer is closed</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="voucherModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Are you sure you want use voucher?</h4>
                        </div>
                        <div class="modal-body">
                            <p>By continuing you confirming that the customer has a voucher for the amount of ${{checkoutTotal | number : '1.2-2'}} that you are using in place of payment</p>
                            <!-- <div class="pop-up-box">
                                <div class="pull-left">Cash Applied </div>
                                <div class="pull-right">${{productTotal}}</div>
                                <div class="clearfix"></div>
                                </div> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-cancel" data-dismiss="modal" (click)='notToApplyvoucher()'>No</button>

                            <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" (click)='voucherModalApply()'>Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="voucherErrorModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <p>Cannot process for more than the amount due.</p>
                            <!-- <div class="pop-up-box">
                                    <div class="pull-left">Cash Applied </div>
                                    <div class="pull-right">${{productTotal}}</div>
                                    <div class="clearfix"></div>
                                    </div> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="voucherApplyModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">voucher Applied</h4>
                        </div>
                        <p>Place the Voucher in the drawer</p>
                        <div class="modal-body">
                            <p>Click "OK" When cash drawer is closed</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="vocherPayment()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="thirdPaymentModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Error</h4>
                        </div>
                        <div class="modal-body">
                            <p>Only three payment types can be used with each transaction. Please make sure that payment of third payment type equals the total</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="payasyougoModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            Pay As You Go
                        </div>
                        <div class="modal-body">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <p>Place Card on Reader</p>
                            <button class="pay-as-you">Pay with Pay As You Go</button>
                            <!-- <p>Return change to customer</p>
                                <p>Click "OK" When cash drawer is closed</p> -->
                            <!-- <div class="pop-up-box">
                                <div class="pull-left">Cash Applied </div>
                                <div class="pull-right">${{productTotal}}</div>
                                <div class="clearfix"></div>
                                </div> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="compModal" role="dialog">
                <div class="modal-dialog modal-sm modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                            <h4 class="modal-title">Are you sure you want comp this sale ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>By continuing you confirming that you want to comp this sale for amount of ${{checkoutTotal | number : '1.2-2'}} that you are using in place of payment</p>
                            <!-- <div class="pop-up-box">
                                <div class="pull-left">Cash Applied </div>
                                <div class="pull-right">${{productTotal}}</div>
                                <div class="clearfix"></div>
                                </div> -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No, Cancel</button>
                            <!-- [routerLink]="['/comp']" (click)="saveTransaction(8);" -->
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="compApplication()">Yes, Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newCardValidationModal" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Card Already on Order</h4>
            </div>
            <div class="modal-body">
                <p>Card is already on order. Add product to that card, or remove the old card and scan a new one.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="magneticCardLimitModal" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>Card product limit reached.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="maxCardLimitModal" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>{{maxLimitErrorMessages}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal fade" id="removeMerchProductModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete?</h4>
            </div>
            <div class="modal-body">
                <p>By continuing, the "{{merchproductToRemove.Description}}" will be permanently deleted.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default" (click)="removeMerchProductConfirmation()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="modal fade" id="removeMagneticProductModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete?</h4>
            </div>
            <div class="modal-body">
                <p>By continuing, the "{{magneticProductToRemove.Description}}" will be permanently deleted.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default" (click)="removeMagneticProductConfirmation()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div> -->

<div class="modal fade" id="removeProductModal" role="dialog">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Are you sure you want to delete?</h4>
            </div>
            <div class="modal-body">
                <p>By continuing, the "{{productToRemove?.description}}" will be permanently deleted.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default" (click)="removeProductConfirmation()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addCardModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <h4 class="modal-title modal-txt-h">Select Media Type</h4>
            <div class="modal-body-in">
                <div class="">
                    <button class="cardBtn arrow_right" (click)="newFareCard($event)" data-dismiss="modal">Smart Card/LUCC</button>
                    <button class="cardBtn arrow_right" (click)="magneticCard($event)" data-dismiss="modal">Magnetic Card </button>
                    <button class="cancel-btn-pop" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newCardModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <h4 class="modal-title modal-txt-h">Add Card</h4>
            <div class="modal-body-in">
                <div class="">
                    <button class="cardBtn arrow_right" (click)="newCard($event)" data-dismiss="modal">New Card/LUCC</button>
                    <button class="cardBtn arrow_right" (click)="ExistingCard($event)" data-dismiss="modal">Existing Card </button>
                    <button class="cancel-btn-pop" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newCardValidateModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error</h4>
            </div>

            <div class="modal-body">
                <p>Card does not appear to be blank,<br>either add products to existing card,<br>or discard if invalid.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="inactiveValidation" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error</h4>
            </div>

            <div class="modal-body">
                <p>Card is inactive</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="currentCardRemove" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete?</h4>
            </div>
            <div class="modal-body">
                <p>By continuing, you will remove card {{currentWalletLineItem?._cardPID}}.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default" (click)="removeCurrentWalletLineItemConfirmation()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="magneticCardRemove" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <h4 class="modal-title modal-txt-h">Are you sure you want to delete?</h4>
            <div class="modal-body">
                <p>By continuing, you will remove card Magnetic {{currentMagneticIndex+1}}.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default" (click)="removeMagneticCardConfirmation()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="encodeErrorModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error!</h4>
            </div>
            <div class="modal-body">
                <p>Error occured. Please try again</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="navigateToDashboard()">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="productTotalWarningModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error!</h4>
            </div>
            <div class="modal-body">
                <p>Total Due Should not be zero. Please add Products</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="cancelCheckoutModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Are you sure you want to cancel the checkout?</h4>
            </div>
            <div class="modal-body">
                <p>By continiuing,any payment methods that have been applied will be canceled.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-default" (click)="cancelCheckOutConfirmation()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="emptyMagneticModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error!</h4>
            </div>
            <div class="modal-body">
                <p>Cannot purchase magnetic card <br>without a product</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="shoppingCartEmptyModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Cart Empty</h4>
            </div>
            <div class="modal-body">
                <p>The shopping cart is empty.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="maxTransactionModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>Transaction amount is above the maximum transaction limit of $ {{terminalConfigJson.MaxTransAmount}}.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="minTransactionModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p>Transaction amount is below the minimum transaction limit of $ {{terminalConfigJson.MinTransAmount}}.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
</div>

<div class="main-container" *ngIf="isCustomAmount">
    <div class="container-left">
        <h2>CUSTOM AMOUNT</h2>
        <p class="pay-amount">Enter the Pay As You Go amount to add to the card.</p>
        <!-- <div class="btns-set">
            <button class="btn-white-cancel" (click)="closeCustomAmount()">Cancel</button>
        </div> -->
        <div class="btns-set posi-bottom">
            <button class="btn-cancel" (click)="closeCustomAmount()">CANCEL</button>
        </div>
    </div>
    <div class="container-right-calc">
        <div class="cr-r-set">
            <h1>
                <!-- <span class="label label-primary cr-label">${{productTotal | number : '1.2-2'}}</span> -->
                <form [formGroup]="customAmountForm">
                    <input type="text" class="form-control label label-primary cr-label" formControlName="amount" [ngModel]="productTotal | currency: 'USD' : 'symbol-narrow': '1.2-2' | noComma" (ngModelChange)="customTextAreaEmpty()" (keyup.1)="displayDigit('1')" (keyup.2)="displayDigit('2')"
                        (keyup.3)="displayDigit('3')" (keyup.4)="displayDigit('4')" (keyup.5)="displayDigit('5')" (keyup.6)="displayDigit('6')" (keyup.7)="displayDigit('7')" (keyup.8)="displayDigit('8')" (keyup.9)="displayDigit('9')" (keyup.0)="displayDigit('0')"
                        (keyup.00)="displayDigit('00')" (keyup.backspace)='onCustomAmountBackSpace()' appNumericOnly>

                </form>
            </h1>
            <div class="flex">
                <div class="cr-left">
                    <div class="number-btns-set-3" *ngFor="let digit of numberDigits">
                        <button (click)="displayDigit(digit)">{{digit}}</button>
                    </div>
                    <div class="number-btns-set-2" *ngFor="let digit of zeroDigits">
                        <button (click)="displayDigit(digit)">{{digit}}</button>
                        <!-- <button>00</button> -->
                    </div>
                    <div class="number-btns-set-1">
                        <button (click)="clearDigit(0)">Clear</button>
                    </div>
                </div>
                <div class="cr-right-custom">
                    <button data-toggle="modal" (click)="enterCustomAmount(productTotal)">ENTER</button>
                </div>
            </div>

        </div>
    </div>
</div>
<div *ngIf="applyCompShow">
    <app-comp (processCompensation)="compensation($event)" (processCompensationCancel)="cancelCompensation($event)" (compensationReason)="compensationReason($event)" [reason]="reason" [reasonForComp]="reasonForComp"></app-comp>
</div>