<!-- <div class="header flex">
  <div class="header-logo pull-left"><img src="assets/images/logo.jpg"/></div>
  <div class="header-info pull-right">
    <div class="login-info">
      <div>CDTA Admin <span>|</span> Terminal: 1258</div>
      <div><a href="#">logout</a></div>
    </div>
  </div>
</div> -->
<div class="main-container">
    <div class="container-left">
        <div class="header-l">
            <img src="assets/images/shopping-cart.svg" width="30" />
            <!-- <button  [disabled]="isMagnetic" class="btn-white-top">View Card</button> -->
            <button [disabled]="isMagnetic" data-toggle="modal" data-target="#viewCard" class="btn-white-top">View
                Card</button>

            <button class="btn-orange" (click)="addCard()">Add Card</button>
        </div>
        <div class="modal fade" id="viewCard" role="dialog">
            <div class="modal-dialog modal-sm  modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                        <h4 class="modal-title">Card Summary</h4>
                    </div>

                    <div class="modal-body">

                        <div *ngFor="let card of viewCardData ">
                            <div class="flex-devide">
                                <div class="flex">
                                    <div class="flex-devide">

                                        <p>{{card.printed_id}} - Active</p>
                                        <p>Fare Code: Full</p>
                                        <p>Card Exp: {{card.card_expiration_date_str}}</p>
                                    </div>
                                    <div class="flex-devide">
                                        <p>Bonus Ride(s): 0</p>
                                        <p>Next Bonus: 0/4</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="content-container container-padding">
                            <h1></h1>
                        </div>

                        <div class="flex container-padding flex-row">

                            <table class="table-css">
                                <tr>
                                    <th>Product</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Balance</th>
                                </tr>
                                <tr *ngFor="let product of cardProductData">
                                    <td>{{product.product}}</td>
                                    <td>{{product.description}}</td>
                                    <td>{{product.status}}</td>
                                    <td>{{product.remainingValue}}</td>
                                </tr>
                                <!-- <tr>
                                    <td>Frequent Rider</td>
                                    <td>31 Day Pass</td>
                                    <td>{{product.status}}</td>
                                    <td>{{product.balance}}</td>
                                </tr> -->

                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="btns-mag">
            <!-- <input (click)="myStyle={'margin-left': moveLeft()}" [disabled]="leftdisabled" class="left" type="button" value="Move Left" /> -->
            <!-- <div class="menucontainer left"> -->

            <div class="col-md-6">
                <button [ngClass]="{'nonFare': !nonFare,'btn-b-white': nonFare || !nonFare}"
                    (click)=clickOnMerch()>Merch*</button>
            </div>
            <div *ngFor="let magnetic of magneticCardList;let j = index" (click)="clickOnMagnetic(magnetic.id)"
                class="col-md-6">
                <button
                    [ngClass]="{'nonFare': currentMagneticIndex == magnetic.id && isMagnetic,'btn-b-white': isMagnetic || !isMagnetic || currentMagneticIndex == 0 || currentMagneticIndex == magnetic.id}">{{magnetic.name}}</button>
            </div>
            <div>
                <div #cardsList *ngFor="let cards of cardJson;let i = index" (click)="selectCard(i)" class="col-md-6">
                    <button
                        [ngClass]="{'regularRoute': selectedIdx == i && !isMagnetic && !isMerchendise ,'btn-b-white': selectedIdx == i || selectedIdx == 0 || !isMagnetic || !isMerchendise }">{{cards?.printed_id}}</button>
                </div>
            </div>


            <!-- </div> -->
            <!-- <input (click)="myStyle={'margin-left': moveRight()}" [disabled]="rightdisabled" class="left" type="button" value="Move Right" /> -->
            <div class="clearfix"></div>
        </div>
        <!-- <div class="flex header-l">
          <button class="btn-b-white">Merch</button>
          <button class="btn-b-white">{{cardJson?.printed_id}}</button>
        </div> -->
        <div class="container-l-app">
            <div *ngIf="!isMagnetic && !isMerchendise">
                <span class="label label-default">
                    <div class="pull-left">1 Card : {{currentCard.printed_id}} &nbsp; ${{smartCardCost}}</div>

                    <div class="pull-right" (click)="removeSmartCard()"><span
                            class="glyphicon glyphicon-minus-sign"></span></div>

                </span>
                <div class="" *ngFor="let merch of merchantList; let j = index">
                    <span *ngIf="productCardList[j] == currentCard.printed_id" class="label label-default">

                        <div class="pull-left">{{quantityList[j]}} &nbsp; {{merch.Description}} &nbsp;
                            {{merch.Ticket.Price}}</div>

                        <div class="pull-right"
                            (click)="(isMagnetic)?removeMagneticProduct(merch):removeProduct(merch)"><span
                                class="glyphicon glyphicon-minus-sign"></span></div>

                    </span>
                </div>
            </div>

            <div *ngIf="isMagnetic">
                <span class="label label-default">
                    <div class="pull-left">1 New Magnetics &nbsp; ${{magneticCardCost}}</div>

                    <div class="pull-right" (click)="removeMagneticCard()"><span
                            class="glyphicon glyphicon-minus-sign"></span></div>

                </span>
                <div class="" *ngFor="let merch of MagneticList; let j = index">

                    <span *ngIf="magneticIds[j] == currentMagneticIndex" class="label label-default">
                        <div class="pull-left">{{merch.Description}} &nbsp; {{merch.Ticket.Price}}</div>

                        <div class="pull-right" (click)="removeMagneticProduct(merch)"><span
                                class="glyphicon glyphicon-minus-sign"></span></div>

                    </span>
                </div>
            </div>


            <div *ngIf="isMerchendise">
                <span *ngIf="isMerchendise"> NON FARE PRODUCTS</span>

                <div class="" *ngFor="let merch of merchantiseList; let k = index">
                    <span class="label label-default">


                        <div class="pull-left">{{merch.quantity}} &nbsp; {{merch.Description}} &nbsp;
                            {{merch.UnitPrice}}</div>

                        <div class="pull-right" (click)="removeMerchProduct(merch)"><span
                                class="glyphicon glyphicon-minus-sign"></span></div>

                    </span>
                </div>
            </div>


        </div>
        <div class="sub-total ">
            <div class="flex" *ngIf="isMagnetic">
                <div class="float-left">Fare Products Subtotal</div>
                <div class="float-right">${{subTotal | number : '1.2-2'}}</div>

            </div>
            <div class="flex" *ngIf="isMerchendise">
                <div class="float-left">Non-fare Products Subtotal</div>
                <div class="float-right">${{merchentiseSubTotal | number : '1.2-2'}}</div>

            </div>
            <div class="flex" *ngIf="!isMerchendise && !isMagnetic">
                <div class="float-left">Fare Products Subtotal</div>
                <div class="float-right">${{subTotal | number : '1.2-2'}}</div>

            </div>
            <hr>
            <div class="flex totals">
                <div class="float-left">Total Due</div>
                <div class="float-right">${{productTotal | number : '1.2-2'}}</div>
            </div>
        </div>
        <div class="btns-set">
            <button class="btn-white" (click)="navigateToReadCard()">Cancel</button>
            <button class="btn-orange" (click)="productCheckout()">Checkout</button>
        </div>
    </div>
    <div class="container-right" *ngIf="checkout">
        <div class="flex header-l add-product-head">
            <button [ngClass]="{'btn btndefault': regularRoute , 'btn btn-primary': !regularRoute}"
                [disabled]="regularRoute">Regular Route</button>
            <button [ngClass]="{'btn btndefault': !regularRoute , 'btn btn-primary': regularRoute}"
                [disabled]="nonFare">NON-FARE</button>
        </div>
        <div class="tab-sets">
            <ul class="nav nav-pills" *ngIf="!regularRoute">
                <li class="active" (click)="frequentRide()"><a data-toggle="pill">FREQUENT RIDER</a></li>
                <li (click)="storedValue()"><a data-toggle="pill">STORED RIDE PASS</a></li>
                <li (click)="payValue()"><a data-toggle="pill">PAY AS YOU GO</a></li>
            </ul>
            <div class=" flex-wrap flex-right-items flex-contain-full-w1" *ngIf="!regularRoute">
                <div *ngFor="let merch of merchantise"><button class="cardBtn"
                        (click)="(isMagnetic)?getSelectedMagneticProductData(merch):getSelectedProductData(merch)">{{merch.Description}}<br />${{merch.Ticket.Price}}</button>
                </div>
            </div>
            <div class=" flex-wrap flex-right-items flex-contain-full-w2" *ngIf="regularRoute">
                <div *ngFor="let merch of merchantise"><button class="cardBtn"
                        (click)="getSelectedMerchProductData(merch)">{{merch.Description}}<br />${{merch.UnitPrice}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-right-calc" *ngIf="!checkout">
        <div class="cr-r-set">
            <h1><span class="label label-primary cr-label">${{productTotal | number : '1.2-2'}}</span></h1>
            <div class="flex">
                <div class="cr-left">
                    <div class="number-btns-set-3" *ngFor="let digit of numberDigits">
                        <button (click)="displayDigit(digit)">{{digit}}</button>
                    </div>
                    <div class="number-btns-set-2" *ngFor="let digit of zeroDigits">
                        <button (click)="displayDigit(digit)">{{digit}}</button>
                        <!-- <button>00</button> -->
                    </div>
                    <div class="number-btns-set-1">
                        <button (click)="clearDigit(0)">Clear</button>
                    </div>
                </div>
                <div class="cr-right">
                    <button data-toggle="modal" data-target="#myModal">Cash</button>
                    <button data-toggle="modal" data-target="#creditModal" creditModal>Credit or Debit Card</button>
                    <button data-toggle="modal" data-target="#checkModal">Check</button>
                    <button data-toggle="modal" data-target="#fareCardModal">Existing Farecard</button>
                    <button data-toggle="modal" data-target="#voucherModal">Voucher</button>
                    <button data-toggle="modal" data-target="#payasyougoModal">Pay As You Go</button>
                    <button data-toggle="modal" data-target="#compModal">Comp</button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">Cash Applied</h4>
                            </div>

                            <div class="modal-body">
                                <p>Return change to customer</p>
                                <p>Click "OK" When cash drawer is closed</p>
                                <div class="pop-up-box">
                                    <div class="pull-left">Cash Applied </div>
                                    <div class="pull-right">${{productTotal | number : '1.2-2'}}</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="pop-up-box">
                                    <div class="pull-left">Cash Back </div>
                                    <div class="pull-right">$0.00</div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" (click)="saveTransaction(2)"
                                    data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="creditModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">Cash Applied</h4>
                            </div>

                            <div class="modal-body">
                                <!-- <p>Return change to customer</p>
              <p>Click "OK" When cash drawer is closed</p> -->
                                <div class="pop-up-box">
                                    <div class="pull-left">Cash Applied </div>
                                    <div class="pull-right">${{productTotal | number : '1.2-2'}}</div>
                                    <div class="clearfix"></div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="checkModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">Check Applied</h4>
                            </div>

                            <div class="modal-body">
                                <p>Click "OK" When cash drawer is closed</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" (click)="saveTransaction(3)"
                                    data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="fareCardModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">Are you sure you want use an existing fare card ?</h4>
                            </div>

                            <div class="modal-body">

                                <p>By continiuing you confirming that the customer has a fare card for the amount of
                                    $50.00 that you are using in place of payment</p>
                                <!-- <div class="pop-up-box">
                    <div class="pull-left">Cash Applied </div>
                    <div class="pull-right">${{productTotal}}</div>
                    <div class="clearfix"></div>
                  </div> -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal"
                                    href="#fareApplyModal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="fareApplyModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">Fare Card Applied</h4>
                            </div>
                            <p>Place the Fare Card in the drawer</p>
                            <div class="modal-body">
                                <p>Click "OK" When cash drawer is closed</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="voucherModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">Are you sure you want use voucher ?</h4>
                            </div>

                            <div class="modal-body">

                                <p>By continiuing you confirming that the customer has a voucher for the amount of
                                    ${{productTotal | number : '1.2-2'}} that you are using in place of payment</p>
                                <!-- <div class="pop-up-box">
                    <div class="pull-left">Cash Applied </div>
                    <div class="pull-right">${{productTotal}}</div>
                    <div class="clearfix"></div>
                  </div> -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal"
                                    href="#voucherApplyModal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="voucherApplyModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">voucher Applied</h4>
                            </div>
                            <p>Place the Voucher in the drawer</p>
                            <div class="modal-body">
                                <p>Click "OK" When cash drawer is closed</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                    (click)="saveTransaction(11)">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="payasyougoModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                Pay As You Go
                            </div>

                            <div class="modal-body">

                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <p>Place Card on Reader</p>
                                <button class="pay-as-you">Pay with Pay As You Go</button>

                                <!-- <p>Return change to customer</p>
              <p>Click "OK" When cash drawer is closed</p> -->
                                <!-- <div class="pop-up-box">
                    <div class="pull-left">Cash Applied </div>
                    <div class="pull-right">${{productTotal}}</div>
                    <div class="clearfix"></div>
                  </div> -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="compModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                                <h4 class="modal-title">Are you sure you want comp this sale ?</h4>
                            </div>

                            <div class="modal-body">

                                <p>By continiuing you confirming that you want to comp this sale for amount of
                                    ${{productTotal | number : '1.2-2'}} that you are using in place of payment</p>
                                <!-- <div class="pop-up-box">
                    <div class="pull-left">Cash Applied </div>
                    <div class="pull-right">${{productTotal}}</div>
                    <div class="clearfix"></div>
                  </div> -->

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No, Cancel</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"
                                    [routerLink]="['/comp']" (click)="saveTransaction(8);">Yes, Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newCardValidationModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Card Already on Order</h4>
                </div>

                <div class="modal-body">
                    <p>Card is already on order. Add product to that card, or remove the old card and scan a new one.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="magneticCardLimitModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Error</h4>
                </div>

                <div class="modal-body">
                    <p>Card product limit reached.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="maxCardLimitModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Error</h4>
                </div>

                <div class="modal-body">
                    <p>{{maxLimitErrorMessages}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeMerchProductModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Are you sure you want to delete?</h4>
                </div>

                <div class="modal-body">
                    <p>By continuing, the "{{merchproductToRemove.Description}}" will be permanently deleted.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-default" (click)="removeMerchProductConfirmation()"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeMagneticProductModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Are you sure you want to delete?</h4>
                </div>

                <div class="modal-body">
                    <p>By continuing, the "{{magneticProductToRemove.Description}}" will be permanently deleted.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-default" (click)="removeMagneticProductConfirmation()"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeSmartCardProductModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Are you sure you want to delete?</h4>
                </div>

                <div class="modal-body">
                    <p>By continuing, the "{{smartCradProductToRemove.Description}}" will be permanently deleted.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-default" (click)="removeSmartCardProductConfirmation(-1)"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addCardModal" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <h4 class="modal-title modal-txt-h">Select Media Type</h4>
                <div class="modal-body-in">
                    <div class="">
                        <button class="cardBtn" (click)="newFareCard($event)" data-dismiss="modal">Smart Card/LUCC<img
                                src="assets/images/arrow-pointing-to-right.svg" /></button>
                        <button class="cardBtn" (click)="magneticCard($event)" data-dismiss="modal">Magnetic Card <img
                                src="assets/images/arrow-pointing-to-right.svg" /></button>

                        <button class="cancel-btn-pop" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="smartCardRemove" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <h4 class="modal-title modal-txt-h">Are you sure you want to delete?</h4>
                <div class="modal-body">
                    <p>By continuing, you will remove card {{currentCard.printed_id}}.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-default" (click)="removeSmartCardConfirmation()"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="magneticCardRemove" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <h4 class="modal-title modal-txt-h">Are you sure you want to delete?</h4>
                <div class="modal-body">
                    <p>By continuing, you will remove card Magnetic {{currentMagneticIndex+1}}.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-default" (click)="removeMagneticCardConfirmation()"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="encodeErrorModal" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Error!</h4>
                </div>

                <div class="modal-body">
                    <p>Error occured. Please try again</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="navigateToDashboard()">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="productTotalWarningModal" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Error!</h4>
                </div>

                <div class="modal-body">
                    <p>Total Due Should not be zero. Please add Products</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>