<!-- <div class="header flex">
  <div class="header-logo pull-left"><img src="assets/images/logo.jpg"/></div>
  <div class="header-info pull-right">
    <div class="login-info">
      <div>CDTA Admin <span>|</span> Terminal: 1258</div>
      <div><a href="#">logout</a></div>
    </div>
  </div>
</div> -->
    <div class="main-container">
      <div class="container-left">
        <div class="header-l ">
          <img src="assets/images/shopping-cart.svg" width="30"/>
          <button class="btn-white-top">View Card</button>
          <button class="btn-orange">Add Card</button>
        </div>
        <div class="flex header-l">
          <button class="btn-b-white">Merch</button>
          <button class="btn-b-white">{{cardJson?.printed_id}}</button>
        </div>
          <div class="container-l-app">
            <div class="" *ngFor="let merch of merchantList">
            <span class="label label-default">
              
              <div class="pull-left">{{merch.Description}} &nbsp; {{merch.Ticket.Price}}</div>

              <div class="pull-right" (click)="removeProduct(merch)"><span class="glyphicon glyphicon-minus-sign"></span></div>

            </span>
          </div>
          </div>
        <div class="sub-total ">
          <div class="flex">
            <div class="float-left">Non-fare products Subtotal</div>
            <div class="float-right">${{productTotal}}</div>
          </div>
          <hr>
          <div class="flex totals">
            <div class="float-left">Total Due</div>
            <div class="float-right">${{productTotal}}</div>
          </div>
        </div>
        <div class="btns-set">
          <button class="btn-white" [routerLink]="['/readcard']">Cancel</button>
          <button class="btn-orange" (click)="productCheckout()">Checkout</button>
        </div> 
      </div>
      <div class="container-right" *ngIf="checkout">
          <div class="flex header-l add-product-head">
          <button class="btn btn-primary">Regular Route</button>
          <button class="btn btn-default" disabled = "disabled">NON-FARE</button>
          </div>
        <div class="tab-sets">
        <ul class="nav nav-pills">
            <li class="active" (click)="frequentRide()"><a data-toggle="pill">FREQUENT RIDER</a></li>
            <li (click)="storedValue()"><a data-toggle="pill" >STORED RIDE PASS</a></li>
            <li (click)="payValue()"><a data-toggle="pill">PAY AS YOU GO</a></li>
          </ul>
        <div class="flex flex-wrap flex-right-items">
          <div *ngFor="let merch of merchantise"><button class="cardBtn" (click)="getSelectedProductData(merch)">{{merch.Description}}<br/>${{merch.Ticket.Price}}</button></div>
        </div>
      </div>
      </div>
      <div class="container-right" *ngIf="!checkout">
        <div class="cr-r-set">
        <h1><span class="label label-primary cr-label">${{productTotal}}</span></h1>
        <div class="flex">
          <div class="cr-left">
              <div class="number-btns-set-3" *ngFor="let digit of numberDigits">
                <button>{{digit}}</button>
              </div>
              <div class="number-btns-set-2">
                  <button>0</button>
                  <button>00</button>
              </div>
              <div class="number-btns-set-1">
                  <button>Clear</button>
              </div>
          </div>
          <div class="cr-right">
            <button data-toggle="modal" data-target="#myModal">Cash</button>
            <button>Credit or Debit Card</button>
            <button>Check</button>
            <button>Existing Farecard</button>
            <button>Voucher</button>
            <button>Pay As You Go</button>
            <button>Comp</button>
          </div>
           <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <h4 class="modal-title">Cash Applied</h4>
          </div>
          
          <div class="modal-body">
            <p>Return change to customer</p>
            <p>Click "OK" When cash drawer is closed</p>
            <div class="pop-up-box">
                <div class="pull-left">Cash Applied </div>
                 <div class="pull-right">${{productTotal}}</div>
                 <div class="clearfix"></div>
            </div>
                 <div class="pop-up-box">
                 <div class="pull-left">Cash Back </div>
                 <div class="pull-right">$</div>
                 <div class="clearfix"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" [routerLink]="['/carddata']" (click)="saveTransaction(merch)" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>
        </div>
        </div>
      </div>
     </div>