/* @import "./../../../styles.css"; */

.header-btn-menu,
.header-btn-menu:hover {
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 10px 20px;
    margin: 0;
    color: #333333;
    background-color: #fff;
}

.header-login-logout {
    color: #d55400!important
}

.header-btn-menu i {
    margin-left: 10px;
}

.header-tx-top {
    margin: 0 20px;
    padding: 10px 0 0 0;
    color: #fff;
    font-size: 16px;
}

.login-info {
    margin: 15px 0;
    padding: 0 10px;
    display: block;
}

.login-info div {
    float: left;
    margin-left: 5px
}

.btn-org {
    background-color: #d65400;
    border: 1px solid #d65400;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    margin: 0 5px;
    width: 50%;
}

.header-time {
    color: #fff;
    float: left;
    padding: 25px 0 25px 25px;
    font-size: 17px;
}

.btn-white {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
    color: #333333;
    font-size: 20px;
    padding: 10px 15px;
    width: calc(50% - 10px);
}

.header-btn-menu svg {
    fill: black;
    width: 13px;
    margin-left: 6px;
    height: 13px;
    margin-top: -3px;
}

.header-btn-menu:focus svg {
    fill: #d65400!important;
}

.header .login-info .dropdown-menu>li>a.lock-device {
    background-color: rgba(212, 212, 207, 0.8)!important;
    cursor: not-allowed !important;
}