<div class="header flex">
    <div class="header-logo pull-left"><img src="assets/images/logo-header.png" /></div>
    <div class="header-info pull-right">
        <div class="login-info">
            <div class="pull-left">CDTA Admin <span>|</span> Terminal: 1258</div>
            <button class="pull-left" (click)="logOut();">logout</button>
            <div class="pull-left">Menu</div>
        </div>
    </div>
</div>

<div id="status-buttons" *ngIf="hideHeader">
    <ul class="nav nav-tabs" id="myTab">
        <!-- <div class="liner"></div> -->

        <!-- circular user icon -->
        <li>
            <a routerLink="/setup" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="personal">
                <span class=" one">
                  Step 1
                  <div>Verify Hardware</div>
                  <span class="glyphicon glyphicon-arrow-right wizard-arrow"></span>
                </span>
            </a>
        </li>

        <!-- circular tasks icon -->
        <li>
            <a routerLink="/activation" routerLinkActive="active" data-toggle="tab" title="work">
                <span class=" two">
                        Step 2
                        <div>Activation Information</div>
                        <span class="glyphicon glyphicon-arrow-right wizard-arrow"></span>
                </span>
            </a>
        </li>

        <!-- circular home icon -->
        <li>
            <a routerLink="/verify" routerLinkActive="active" data-toggle="tab" title="address">
                <span class=" three">
                        Step 3
                        <div>Verify Organization</div>
                        <span class="glyphicon glyphicon-arrow-right wizard-arrow"></span>
                </span>
            </a>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>

<div class="modal fade" id="warning" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Warning</h4>
            </div>

            <div class="modal-body">
                <p>You cannot log out until you've closed your shift. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- Close the Splash screen -->
<script src="assets/js/loading-bars.js"></script>