<div class="header flex">
    <div class="header-logo pull-left"><img src="assets/images/logo-header.png" /></div>
    <div class="header-info pull-right">
        <div class="login-info">
            <div class="pull-left">CDTA Admin <span>|</span> Terminal: {{terminalNumber}}</div>
            <div class="pull-left"><a href="#">logout</a></div>
            <div class="pull-left">Menu</div>
        </div>
    </div>
</div>

<div id="status-buttons" *ngIf="hideHeader">
    <ul class="nav nav-tabs" id="myTab">
        <!-- <div class="liner"></div> -->

        <!-- circular user icon -->
        <li>
            <a routerLink="/setup" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="personal">
                <span class=" one">
                  Step 1
                  <div>Verify Hardware</div>
                  <span class="glyphicon glyphicon-arrow-right wizard-arrow"></span>
                </span>
            </a>
        </li>

        <!-- circular tasks icon -->
        <li>
            <a routerLink="/activation" routerLinkActive="active" data-toggle="tab" title="work">
                <span class=" two">
                        Step 2
                        <div>Activation Information</div>
                        <span class="glyphicon glyphicon-arrow-right wizard-arrow"></span>
                </span>
            </a>
        </li>

        <!-- circular home icon -->
        <li>
            <a routerLink="/verify" routerLinkActive="active" data-toggle="tab" title="address">
                <span class=" three">
                        Step 3
                        <div>Verify Organization</div>
                        <span class="glyphicon glyphicon-arrow-right wizard-arrow"></span>
                </span>
            </a>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>

<!-- Close the Splash screen -->
<script src="assets/js/loading-bars.js"></script>