<div class="header ">
    <div class="header-logo pull-left">
        <img class="pull-left" src="assets/images/logo-header.jpeg" />
        <div class="header-time">{{today | date:'dd-MM-yyyy hh:mm:ss a':'+0530'}}</div>
    </div>
    <div class="header-info pull-right">
        <div class="login-info">
            <div *ngIf="terminalNumber" class="pull-left header-tx-top">User: APOS Admin <span>|</span> Terminal: {{terminalNumber}}</div>
            <div *ngIf="terminalNumber" class="pull-left">
                <div class="dropdown">
                    <button class="btn-default header-btn-menu" type="button" data-toggle="dropdown">LOGOUT</button>
                    <ul class="dropdown-menu">
                        <li><a>Lock Device</a></li>
                        <li><a (click)="logOut();">Logout</a></li>
                    </ul>
                </div>
            </div>

            <div class="pull-left">
                <div class="dropdown">
                    <button class="btn-default header-btn-menu" type="button" data-toggle="dropdown">APPS <i class="fa fa-bars"></i></button>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" data-target="#aboutVersion">About APOS</a></li>
                        <li><a>Genfare Link</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div id="status-buttons" *ngIf="hideHeader">
    <ul class="nav nav-tabs" id="myTab">
        <!-- <div class="liner"></div> -->

        <!-- circular user icon -->
        <li>
            <a routerLink="/setup" class="noclick" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="personal">
                <span class=" one">
                  Step 1
                  <div>Verify Hardware</div>
                  <span class="glyphicon glyphicon-arrow-right wizard-arrow"></span>
                </span>
            </a>
        </li>

        <!-- circular tasks icon -->
        <li>
            <a routerLink="/activation" class="noclick" routerLinkActive="active" data-toggle="tab" title="work">
                <span class=" two">
                        Step 2
                        <div>Activation Information</div>
                        <span class="glyphicon glyphicon-arrow-right wizard-arrow"></span>
                </span>
            </a>
        </li>

        <!-- circular home icon -->
        <li>
            <a routerLink="/verify" class="noclick" routerLinkActive="active" data-toggle="tab" title="address">
                <span class=" three">
                        Step 3
                        <div>Verify Organization</div>
                        <span class="glyphicon glyphicon-arrow-right wizard-arrow"></span>
                </span>
            </a>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>

<div class="modal fade" id="warning" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Warning</h4>
            </div>

            <div class="modal-body">
                <p>You can't logout until you've closed your shift. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-white" data-dismiss="modal">Cancel</button>
                <button type="button" [routerLink]="['/shifts']" class="btn-default" data-dismiss="modal">Close Shift</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="aboutVersion" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">APOS Version</h4>
            </div>

            <div class="modal-body">
                <p>APOS V1.0 </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- Close the Splash screen -->
<script src="assets/js/loading-bars.js"></script>