<div class="main-container doNotPrint" *ngIf="isShowCardOptions">
    <!-- <div class="header flex">
		<div class="header-logo pull-left"><img src="assets/images/logo.jpg" /></div>
		<div class="header-info pull-right">
			<div class="login-info">
				<div>CDTA Admin <span>|</span> Terminal: 1258</div>
				<div><a href="#">logout</a></div>
			</div>
		</div>
	</div> -->
    <div class="">
        <div class="col-md-3 full-height-l">
            <!-- <div class="btn-tab-set">
                <div class="btn-tab-selected">Card</div>
                <div class="btn-tab">Account</div>
            </div>-->
            <div class="flex container-padding flex-row admin-btn pull-left">
                <button class="read-card-btn-orange" (click)="hideModalPop(); adminDeviceConfig(); getAllUsersSalesAndPayments(); " [routerLink]="['/admin']">
                    Admin
                </button>
            </div>
        </div>

        <div class="col-md-6 maxSyncLimit">
            <div *ngIf="maxSyncLimitReached">{{maxSyncLimitReachedText}}</div>
        </div>

        <div class="col-md-6">
            <div *ngIf="statusOfShiftReport.length != 0" class="mt20 shift-report-status">{{statusOfShiftReport}}</div>
            <div class="container-padding flex-column home-btns-set-padd">
                <button class="read-card-btn home_arrow_right" [disabled]="disableCards || maxSyncLimitReached" data-toggle="modal" data-target="#myModal">
                    New Fare Card
                    
                </button>
                <button class="read-card-btn home_arrow_right" [disabled]="disableCards" (click)="readCardSession($event);">
                    Existing Fare Card
                  
                </button>
                <button class="read-card-btn home_arrow_right" [disabled]="disableCards || maxSyncLimitReached" (click)="readCardSession()">
                    Non-Fare Product
                  
                </button>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <!--modal-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <h4 class="modal-title modal-txt-h">Select Media Type</h4>
                <div class="modal-body-in">
                    <div class="">
                        <button class="cardBtn arrow_right" (click)="newFareCard($event)" data-dismiss="modal">Smart Card/LUCC</button>
                        <button class="cardBtn arrow_right" (click)="magneticCard($event)" data-dismiss="modal">Magnetic  </button>

                        <button class="cancel-btn-pop" style="margin-top:15px" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div *ngIf="carddata.length > 0">
		<app-carddata [Carddata]="carddata"></app-carddata>
	  </div> -->



<div class="main-container" *ngIf="!isShowCardOptions">
    <!-- <div class="header flex">
		<div class="header-logo pull-left doNotPrint"><img src="assets/images/logo.jpg" /></div>
		<div class="header-info pull-right doNotPrint">
			<div class="login-info">
				<div>CDTA Admin <span>|</span> Terminal: 1258</div>
				<div><a href="#">logout</a></div>
			</div>
		</div>
	</div> -->

    <div class="flex container-padding flex-row" *ngFor="let card of carddata ">
        <div class="flex-devide">
            <div class="flex">
                <div class="flex-devide">
                    <p>{{card.printed_id}} - {{active_wallet_status}}</p>
                    <p>Fare Code: {{cardType}}</p>
                    <p>Card Exp: {{card.card_expiration_date_str}}</p>
                </div>
                <div class="flex-devide">
                    <p>{{bonusRidesCountText}}</p>
                    <p>{{nextBonusRidesText}}</p>
                </div>
            </div>
        </div>

        <div class="flex-devide text-right">
            <button class="page-btns doNotPrint" (click)="printSummaryOfCard();">Print
                Summary</button>

            <button class="page-btns doNotPrint" [disabled]="active_wallet_status == 'INACTIVE' || maxSyncLimitReached" [routerLink]="['/addproduct']">Add
                New
                Product to Card</button>
        </div>
    </div>


    <div class="content-container container-padding">
        <h1></h1>
    </div>

    <div class="flex container-padding flex-row">

        <table class="table-css">
            <tr>
                <th>Product</th>
                <th>Description</th>
                <th>Status</th>
                <th>Balance</th>
            </tr>
            <tr *ngFor="let product of cardContents">
                <td>{{product.product}}</td>
                <td>{{product.description}}</td>
                <td>{{product.status}}</td>
                <td>{{product.balance}}</td>
            </tr>
            <!-- <tr>
				<td>Frequent Rider</td>
				<td>31 Day Pass</td>
				<td>{{product.status}}</td>
				<td>{{product.balance}}</td>
			</tr> -->

        </table>
    </div>


    <div class="container-padding">
        <div class="flex">
            <div class="flex-devide">
                <button class="back-btn doNotPrint" (click)="Back();">
                    Back</button>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="errorModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error</h4>
            </div>

            <div class="modal-body">
                <p>Failed to read card contents
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newCardValidateModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error</h4>
            </div>

            <div class="modal-body">
                <p>Card does not appear to be blank,<br>either add products to existing card,<br>or discard if invalid.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>