@media print{
    .doNotPrint{display:none !important;}
  } 

  .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #003C76;
    color: #fff;
    text-align: center;
  }
  
  .modal-footer .btn-default {
    background-color: #d65400;
    border: 1px solid #d65400;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    margin: 0 5px;
    width: 50%;
  }
  
  .modal-footer {
    justify-content: center;
  }