<div class="main-container">
    <div class="blue-bg-admin">
        <div class="container-left">
            <div class="container-l-app">
                <div class="main-shift">
                    <div class="main-shift-heads">{{statusOfShiftReport}}</div>
                    <div class="main-shift-head">Shift Report</div>
                    <div class="main-shift-row">
                        <div class="pull-left">Fare Sold Total</div>
                        <div class="pull-right">${{fareTotal | number : '1.2-2'}}</div>
                    </div>
                    <div class="main-shift-row">
                        <div class="pull-left">Non Fare Products Sold Total</div>
                        <div class="pull-right">${{nonFareTotal | number : '1.2-2'}}</div>
                    </div>
                    <hr class="hr-css">
                    <div class="main-shift-row">
                        <div class="pull-left">Total Sold </div>
                        <div class="pull-right">${{fareAndNonFareTotal | number : '1.2-2'}}</div>
                    </div>
                    <br/>
                    <div class="main-shift-row">
                        <div class="pull-left">Opening Drawer</div>
                        <div class="pull-right">${{openingDrawerBal | number : '1.2-2'}}</div>
                    </div>
                    <div class="main-shift-row">
                        <div class="pull-left">Expected Cash</div>
                        <div class="pull-right">${{expectedCash | number : '1.2-2'}}</div>
                    </div>
                    <div class="main-shift-row">
                        <div class="pull-left">Actual Cash</div>
                        <div class="pull-right">${{actualCash | number : '1.2-2'}}</div>
                    </div>
                    <div class="main-shift-row">
                        <div class="pull-left">Over/Short</div>
                        <div class="pull-right">${{overShort | number : '1.2-2'}}</div>
                    </div>
                </div>
            </div>
            <div class="print-report-btn-set">
                <button class="print-report" (click)="getPresentShiftReport();">
                     PRINT REPORT
                </button>
            </div>
            <div class="apos-version">
                APOS Version V 1.0.0
            </div>

        </div>

        <div class="container-right">
            <div class="cr-r-set">
                <div class="">
                    <button class="back-to-sales arrow_left" [routerLink]="['/readcard']" (click)="hideModalPop()"> Back To Sales</button>
                    <div class="back-sales-txt">What would you like to do ? </div>
                    <div class="cr-right-btns" *ngIf="shiftState == 0 && shiftType == 0">
                        <button class="arrow_right" [routerLink]="['/shifts']">
                      Close Main Shift 
                    </button>
                        <button class="arrow_right" data-toggle="modal" data-target="#reliefShiftModal">
                      Pause Main Shift for Relief Shift 
                    </button>
                        <button class="arrow_right" data-toggle="modal" data-target="#noSale" (click) = "openCashDrawerForNoSale();">
                      NO SALE 
                    </button>
                        <button class="arrow_right" [routerLink]="['/shift_sales']" (click)="getSalesReports();">
                      Shift Sales Summary 
                    </button>

                        <button class="arrow_right" data-toggle="modal" data-target="#syncCds">
                      Sync With CDS 
                    </button>

                        <button class="arrow_right" (click)="lastTransactionReceipt();">
                      Print Last Transaction Receipt 
                    </button>

                        <button class="device-bottom arrow_right" [routerLink]="['/deviceconfig']" (click)="adminDeviceConfig();">
                      Device Configuration 
                    </button>
                    </div>
                    <div class="cr-right-btns" *ngIf="shiftState == 3 && shiftType == 0 && !mainshiftCloser">
                        <button class="arrow_right" [routerLink]="['/shifts']">
                      Open Main Shift 
                    </button>
                        <button class="arrow_right" data-toggle="modal" data-target="#syncCds">
                        Sync With CDS 
                      </button>
                        <button class="device-bottom arrow_right" [routerLink]="['/deviceconfig']" (click)="adminDeviceConfig();">
                        Device Configuration 
                      </button>

                    </div>
                    <div class="cr-right-btns" *ngIf="mainshiftCloser || closingPausedMainShift">
                        <button class="arrow_right" (click)="getSalesReports();" [routerLink]="['/shift_sales']">
                      Shift Sales Summary 
                    </button>
                        <button class="device-bottom" data-toggle="modal" data-target="#syncCds">
                        Sync With CDS 
                      </button>
                        <button class="device-bottom" [routerLink]="['/deviceconfig']" (click)="adminDeviceConfig();">
                        Device Configuration 
                      </button>

                    </div>
                    <div class="cr-right-btns" *ngIf="shiftState == 4 && shiftType == 0">
                        <button class="arrow_right" data-toggle="modal" data-target="#reOpenModal">
                    Re-Open Main Shift 
                    </button>
                        <button class="arrow_right" data-toggle="modal" data-target="#syncCds">
                        Sync With CDS 
                      </button>
                        <button class="arrow_right" class="device-bottom" [routerLink]="['/deviceconfig']">
                        Device Configuration 
                      </button>

                    </div>

                    <div class="modal fade" id="reliefShiftModal" role="dialog">
                        <div class="modal-dialog modal-sm  modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Confirm Main Shift Relief</h4>
                                </div>

                                <div class="modal-body">
                                    <p>Remove the till from the cash drawer, Click "OK" to Continue. </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="mainShiftPause();">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="noSale" role="dialog" data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-sm  modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Cash Drawer is Open</h4>
                                </div>

                                <div class="modal-body">
                                    <p>Please proceed with your task. Click "OK" When complete </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="syncCds" role="dialog">
                        <div class="modal-dialog modal-sm  modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Sync Data</h4>
                                </div>

                                <div class="modal-body">

                                    <p>Confirm Sync</p>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">No, Cancel</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" (click)="syncData();">Yes, Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="continueSyncModal" role="dialog">
                        <div class="modal-dialog modal-sm  modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Syncing With CDS</h4>
                                </div>

                                <div class="modal-body">
                                    <p>Syncing with CDS</p>
                                    <ngx-loading [show]="loading" [config]="{
                                    primaryColour: '#006ddd', 
                                    secondaryColour: '#ccc', 
                                    tertiaryColour: '#006ddd' }"></ngx-loading>
                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="successSyncModal" role="dialog">
                        <div class="modal-dialog modal-sm  modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Sync Success</h4>
                                </div>

                                <div class="modal-body">
                                    <p>Sync successfully Completed</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="errorSyncModal" role="dialog">
                        <div class="modal-dialog modal-sm  modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Sync Error</h4>
                                </div>

                                <div class="modal-body">
                                    <p>An error occurred during sync</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="readyForSaleModal" role="dialog">
                        <div class="modal-dialog modal-sm  modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Ready For Sales ?</h4>
                                </div>

                                <div class="modal-body">

                                    <p>Main shift has successfully been opened. Close the window or Start Sales </p>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-cancel" data-dismiss="modal">No<br/>Close Window</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" [routerLink]="['/readcard']">Yes<br/>Start Sales</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="reOpenModal" role="dialog">
                        <div class="modal-dialog modal-sm  modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Cash Drawer is Open</h4>
                                </div>

                                <div class="modal-body">
                                    <p>Please insert the cash till and Click "OK" Button </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="reOpenShift();">Ok</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- <div class="" >
                <button class="back-to-sales" [routerLink]="['/readcard']"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back To Sales</button>
                <div class="back-sales-txt">What would you like to do ? </div> -->

                    <div class="cr-right-btns" *ngIf="shiftState == 3 && shiftType == 1">
                        <button class="arrow_right" [routerLink]="['/shifts']" (click)="closePausedMainShift();">
                        Close Paused Main Shift 
                      </button>
                        <button class="arrow_right" [routerLink]="['/shifts']">
                        Open Relief Shift 
                      </button>
                        <button class="arrow_right" data-toggle="modal" data-target="#syncCds">
                        Sync With CDS 
                      </button>
                        <button class="arrow_right" [routerLink]="['/deviceconfig']" (click)="adminDeviceConfig();">
                        Device Configuration 
                      </button>

                    </div>

                    <div class="cr-right-btns" *ngIf="shiftState == 0 && shiftType == 1">
                        <button class="arrow_right" [routerLink]="['/shifts']">
                      Close Relief Shift 
                    </button>

                        <button class="arrow_right" data-toggle="modal" data-target="#noSale">
                      NO SALE 
                    </button>
                        <button class="arrow_right" [routerLink]="['/shift_sales']" (click)="getSalesReports();">
                      Shift Sales Summary 
                    </button>

                        <button class="arrow_right" data-toggle="modal" data-target="#syncCds">
                      Sync With CDS 
                    </button>

                        <button class="arrow_right" (click)="lastTransactionReceipt();">
                      Print Last Transaction Receipt 
                    </button>

                        <button class="arrow_right" [routerLink]="['/deviceconfig']" (click)="adminDeviceConfig();">
                      Device Configuration 
                    </button>
                    </div>

                    <!-- <div class="cr-right-btns" *ngIf="mainShiftClosed">
                    <button [routerLink]="['/shift_sales']" (click)="getSalesReports();">
                      Shif Sales Summary 
                    </button>
                    <button data-toggle="modal" data-target="#syncCds">
                        Sync With CDS 
                      </button>
                    <button [routerLink]="['/deviceconfig']" (click)="adminDeviceConfig(); getTerminalConfig();">
                        Device Configuration 
                      </button>

                </div> -->
                    <!-- <div class="cr-right-btns" *ngIf="mainShiftPaused">
                    <button data-toggle="modal" data-target="#reOpenModal">
                    Re-Open Main Shift 
                    </button>
                    <button data-toggle="modal" data-target="#syncCds">
                        Sync With CDS 
                      </button>
                    <button [routerLink]="['/deviceconfig']">
                        Device Configuration 
                      </button>

                </div> -->

                    <!-- <div class="modal fade" id="reliefShiftModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Confirm Main Shift Relief</h4>
                            </div>

                            <div class="modal-body">
                                <p>Remove the till from the cash drawer, Click ok to Continue </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="mainShiftPause();">Ok</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                    <!-- <div class="modal fade" id="noSale" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Cash Drawer is Open</h4>
                            </div>

                            <div class="modal-body">
                                <p>Please proceed with your task. Click "OK" When complete </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div> -->

                    <!-- <div class="modal fade" id="syncCds" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Sync Data</h4>
                            </div>

                            <div class="modal-body">

                                <p>Confirm Sync</p>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No,cancel</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" href="#continueSyncModal">Yes,continue</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                    <!-- <div class="modal fade" id="continueSyncModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Syncing With CDS</h4>
                            </div>

                            <div class="modal-body">
                                <p>Syncing with CDS</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                    <!-- <div class="modal fade" id="readyForSaleModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Ready For Sales ?</h4>
                            </div>

                            <div class="modal-body">

                                <p>Main Shift Has successfully been opened . Close the window or Start Sales </p>


                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">No,Close Window</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Yes,Start Sales</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                    <!-- <div class="modal fade" id="reOpenModal" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Cash Drawer is Open</h4>
                            </div>

                            <div class="modal-body">
                                <p>Please insert the cash till and Click "OK" Button </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="reOpenShift();">Ok</button>
                            </div>
                        </div>
                    </div>
                </div> -->
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>