<div class="container-padding dev-container-padding">
    <div class="shift-sales-head">
        <div class="pull-left shift-sales-txt">About this Device</div>
        <div class="clearfix"></div>
    </div>

    <div class="shift-data-sets">
        <div class="shift-data-set" *ngFor="let device of deviceConfig">
            <table>
                <tr>
                    <td>Software Version:</td>
                    <td>V 1.0.0</td>
                </tr>
                <tr>
                    <td>CDS Address:</td>
                    <td>{{device.CDS_SYNC_ADDRESS}}</td>
                </tr>
                <tr>
                    <td>Last CDS Sync attempted:</td>
                    <td>{{device.LAST_ATTEMPTED_SYNC}}</td>
                </tr>
                <tr>
                    <td>Sync Status Report:</td>
                    <td>SUCCESS</td>
                </tr>
                <tr>
                    <td>Terminal Config Sync:</td>
                    <td>{{device.LAST_TERMINAL_CONFIG_SYNC}}</td>
                </tr>
                <tr>
                    <td>Fare Table Sync:</td>
                    <td>{{device.LAST_FARE_TABLE_SYNC}}</td>
                </tr>
                <tr>
                    <td>Product Catalog Sync:</td>
                    <td>{{device.LAST_PRODUCT_CATALOG_SYNC}}</td>
                </tr>
                <tr>
                    <td>Action Link Sync:</td>
                    <td>V 1.0.0</td>
                </tr>
                <tr>
                    <td>People List Sync:</td>
                    <td>{{device.LAST_PEOPLE_LIST_SYNC}}</td>
                </tr>
                <tr>
                    <td>Record Upload Sync:</td>
                    <td>{{device.LAST_RECORD_UPLOAD_SYNC}}</td>
                </tr>
            </table>
        </div>
        <div class="shift-data-set" *ngFor="let terminal of terminalData">
            <table>
                <tr>
                    <td>Max Unsynced Trans. Count:</td>
                    <td>{{terminal.MaxUnsyncedTransactionNumber}}</td>
                </tr>
                <tr>
                    <td>Max Unsynced Trans. Value:</td>
                    <td>{{terminal.MaxUnsyncedTransactionValue}}</td>
                </tr>
                <tr>
                    <td>Max Pending Count:</td>
                    <td>{{terminal.MaxPendingCount}}</td>
                </tr>
                <tr>
                    <td>Max Products On Card:</td>
                    <td>{{terminal.NumberOfProducts}}</td>
                </tr>
                <tr>
                    <td>Max Pay As You Go:</td>
                    <td>{{terminal.MaxStoredValueAmount/100}}</td>
                </tr>
                <tr>
                    <td>Min Trans. Amount:</td>
                    <td>{{(terminal.MinTransAmount).toFixed(2)}}</td>
                </tr>
                <tr>
                    <td>Max Trans. Amount:</td>
                    <td>{{ (terminal.MaxTransAmount ).toFixed(2)}}</td>
                </tr>
                <tr>
                    <td>Standard Sync Interval:</td>
                    <td>{{terminal.StandardSyncInterval}}</td>
                </tr>
                <tr>
                    <td>Elevated Sync Interval:</td>
                    <td>{{terminal.ElevatedSyncInterval}}</td>
                </tr>
                <tr>
                    <td>Current Unsynced Trans. Count:</td>
                    <td>{{CURRENT_UNSYNCED_TRANSACTION_NUMBER}}</td>
                </tr>
                <tr>
                    <td>Current Unsynced Trans. Value:</td>
                    <td>{{CURRENT_UNSYNCED_TRANSACTION_VALUE}}</td>
                </tr>
                <tr>
                    <td>Lifetime Transaction Count:</td>
                    <td>{{LIFETIME_TRANSACTION_COUNT}}</td>
                </tr>
                <tr>
                    <td>Lifetime Transaction Value:</td>
                    <td>{{LIFETIME_TRANSACTION_VALUE}}</td>
                </tr>
            </table>
        </div>
    </div>

    <button class="back-to-sales" [routerLink]="['/admin']"> Back to Admin</button>
</div>