@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');


body{
    margin: 0;font-family: 'Roboto', sans-serif;
}

.main-container{
    background-color: #777777;
    display: flex;
    padding: 5px
}
.container-left{
    width: 35%;
    float: left;
    background-color: #f0f3fa;
    border-radius: 5px;
    margin: 0 5px;
    padding: 20px;
}

.container-right{
    width: 65%;
    float: left;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 5px;
    padding: 20px;
}

.container-left textarea{
    width: 100%;
    border-radius: 5px;
  font-size: 24px;
  height: 300px;
}

.flex{
    display: flex
    
}

.float-left{
    margin-right: auto
}

.float-right{
    margin-left: auto
}

.sub-total{
    background-color: #fafafa;
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 15px 0
}

.sub-total hr{
    margin: 40px 0 20px 0
}

.sub-total .totals{
    font-size: 30px;
}
.btn-white-top{
    background-color: #fff;
    border:1px solid #c3c3c3;
    border-radius: 5px;
    color: #999999;
    font-size: 20px;
    padding: 10px 15px;
    width: calc(50% - 45px);
}
.btn-white{
    background-color: #fff;
    border:1px solid #c3c3c3;
    border-radius: 5px;
    color: #333333;
    font-size: 20px;
    padding: 10px 15px;
    width: calc(50% - 10px);
}

.btn-orange{
    background-color: #d65400;
    border:1px solid #d65400;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 10px 15px;
    width: 50%;
    margin-left: 5px
}
.header-l{
    margin: 0 0 15px 0;
}

.add-product-head{
    margin: 0!important;
}

.add-product-head button{
    border-radius: 5px 5px 0 0!important
}

.btn-b-white{
    width: 50%;
    margin-left: 5px;
    background-color: #fff;
    border:1px solid #c3c3c3;
    border-radius: 5px;
    color: #999999;
    font-size: 20px;
    padding: 0px 15px;
}
.btn-primary {
    padding: 10px 15px;
    width: 30%;
    border-radius: 5px;
    background-color: #013d79;
}
.merch-btn{
    margin: 20px 0
}

.flex-wrap{
      flex-flow: row wrap;

}
.flex-right-items div{
    width: 50%;
}
.flex-right-items div button{
    /* flex: 1 1 calc(48% - 15px); */
    /* max-width: calc(48% - 15px); */
    margin: 15px;
    width: calc(100% - 30px);
    padding: 10px 0;
    border-radius: 7px;
    color: #3b80c3;
    font-size: 1.25em;
    border: 1px solid #c4c4c4;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fcfcfc+18,fafafa+52,f7f7f7+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 18%, #fafafa 52%, #f7f7f7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#fcfcfc 18%,#fafafa 52%,#f7f7f7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#fcfcfc 18%,#fafafa 52%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.container-right h1{
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    color: #d65400
}

.cardBtn{
  width: 250px;
  height: 80px;
}

.nav-justified>li {
    display: table-cell;
    width: initial;
}
.container {
    width: 100%;
    background-color: #fafafa;
    padding: 100px;
    border: 1px solid #ccc;
}

.container-l-app{
    width: 100%;
    background-color: #fafafa;
    padding: 20px;
    border: 1px solid #ccc;
    min-height: 300px;
}

.container-l-app .label {
    display: block;
    text-align: left;
    padding: 2px;
    background-color: #e3e3e3;
    color: #000;
    margin-bottom: 10px;
    overflow: hidden;
}

.container-l-app .label div {
padding: 10px
}
.container-l-app .label div.pull-right{
    background-color: #fff;
}

.cr-label{
        background-color: #337ab7;
        width: 100%;
        display: block;
        text-align: right;
        padding: 10px 15px;
        border-radius: 0;
}

.cr-left{
    width: 60%;
    float: left;
}
.cr-right{
    width: 40%;
    float: right;
}
.cr-left .number-btns-set-3 button{
    width: 31%;
    margin: 1%;
    float: left;
}
.cr-left .number-btns-set-2 button{
    width: 47.5%;
    margin: 1%;
    float: left;
}

.cr-left .number-btns-set-1 button{
    width: 97%;
    margin: 1%;
}

.cr-left button{
    padding: 19.5px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fcfcfc+18,fafafa+52,f7f7f7+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #fcfcfc 18%, #fafafa 52%, #f7f7f7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#fcfcfc 18%,#fafafa 52%,#f7f7f7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#fcfcfc 18%,#fafafa 52%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.cr-right button{
    width: 100%;
    background-color: #d65400;
    border: 1px solid #d65400;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    margin: 1% 0;
}

.cr-r-set{
    width: 80%;
    margin: 0 auto
}

.tab-sets{
    background-color: #013D7B;
    padding: 3px;
}

.nav-pills>li>a {
    border-radius: 0!important;
    background-color: #A2B9E3;
}

.nav-pills>li.active a {
    border-radius: 0!important;
    background-color: #3B80C3;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #003C76;
    color: #fff;
    text-align: center;
}
.pop-up-box {
    border: 1px solid #ccc;
    padding: 5px;
    color: #529657;
    font-size: 20px;
}
.modal-footer .btn-default {
    background-color: #d65400;
    border: 1px solid #d65400;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    margin: 1% 0;
    width: 50%;
}
.modal-footer{
    justify-content: center;
}

.limit-text {
    position: relative;
    padding: 15px;
    font-size: 1.5em;
    text-align: center;
}