<!-- <div class="header flex">
    <div class="header-logo pull-left"><img src="assets/images/logo.jpg" /></div>
    <div class="header-info pull-right">
        <div class="login-info">
            <div>CDTA Admin <span>|</span> Terminal: 1258</div>
            <div><a href="#">logout</a></div>
        </div>
    </div>
</div> -->

<div class="encode-card-set">
    <h2>ENCODE CARD</h2>
    <div *ngIf="isEncodeOnProcess" class="encode-card-set-block">
        <div class="pull-left glyphicon glyphicon-credit-card"></div>
        <div class="pull-left encode-card-txt">
            <h2>Please place card {{currentCard?.printed_id}} on the reader.</h2>
            <h2>The following products will be added.</h2>
            <div *ngFor="let product of currentCardProductList">
                <h3>{{product._quantity}} &nbsp; {{product._description}} - {{product._offering.Ticket.Price}}</h3>
            </div>
        </div>
    </div>

    <div *ngIf="!isEncodeOnProcess" class="encode-card-set-block">
        <div class="pull-left glyphicon glyphicon-credit-card"></div>
        <div class="pull-left encode-card-txt">
            <h2>Please place card {{currentCard?.printed_id}} on the reader.</h2>
            <h2>The following products will be removed.</h2>
            <div *ngFor="let product of currentCardProductList">
                <h3>{{product._quantity}} &nbsp; {{product._description}} - {{product._offering.Ticket.Price}}</h3>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cardModal" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Error</h4>
                </div>

                <div class="modal-body">
                    <p>Please place card {{currentCard?.printed_id}} on the reader."</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="encodeModal" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Error!</h4>
                </div>

                <div class="modal-body">
                    <p>Error encoding card</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="initiateCancelEncoding(encodedJsonCardIndex)">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="encodeSuccessModal" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Success!</h4>
                </div>

                <div class="modal-body">
                    <p>Card encoded successfully.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="navigateToDashboard()">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="encodeErrorModal" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Error!</h4>
                </div>

                <div class="modal-body">
                    <p>Error encoding card.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="initiateCancelEncoding(encodedJsonCardIndex)">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmCancelEncodeModal" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Are you sure you want to cancel!</h4>
                </div>

                <div class="modal-body">
                    <p>By continuing, the transaction will be canceled and all payments voided</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" href="#returnCheckModal">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="returnCheckModal" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <h4 class="modal-title">Return Check</h4>
                </div>

                <div class="modal-body">
                    <p>Please give the Customer the Check back </p>

                    <p>Click "Ok" when the cash drawer is closed </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="initiateCancelEncoding(encodedJsonCardIndex)">Ok</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div *ngIf="isEncodeOnProcess" class="form-group  form-wiz">
    <button class="pull-left btn btn-outline-rounded btn-default card-btns-last" (click)="confirmCancelEncoding()">
        CANCEL</button>
    <button #encodeBtn class="pull-right btn btn-outline-rounded btn-info encode-end card-btns-last"
        (click)="checkCorrectCard()"> ENCODE CARD </button>
</div>

<div *ngIf="!isEncodeOnProcess" class="form-group  form-wiz">
    <button #encodeBtn class="pull-right btn btn-outline-rounded btn-info encode-end card-btns-last"
        (click)="checkCorrectCard()"> REMOVE CARD </button>
</div>