.shift-report-status {
    text-align: center;
    background-color: #fefaf7;
    padding: 10px;
    width: 60%;
    margin: 0 auto 50px;
    border-radius: 3px;
    border: 1px dashed #f8ceb3;
    color: #d65400;
}