<div class="container-fluid login-bg">
    <div class="row header-logo text-center">
        <img src="assets/images/logo-header.png" />
    </div>

    <div *ngIf="statusOfShiftReport.length != ''  " class="shift-report-status">{{statusOfShiftReport}}</div>
    <div *ngIf="ownedByUser.length != '' " class="terminal-locked">Main Shift Is Owned By :
        <strong>{{ownedByUser}}</strong>
    </div>
    <div *ngIf="lockedByUser.length != '' " class="terminal-locked">Terminal Locked By :
        <strong>{{lockedByUser}}</strong>
    </div>

    <div class=" login-section pos-relative login-bottom">
        <div class="login-container">

            <div class="alert alert-danger " *ngIf="errorMsg.length != 0">
                {{errorMsg}}
            </div>

            <input type="text" placeholder="User Name" [(ngModel)]="username" />
            <!-- <ngx-loading [show]="loading" [config]="{
                                                    primaryColour: '#006ddd', 
                                                    secondaryColour: '#ccc', 
                                                    tertiaryColour: '#006ddd' }"></ngx-loading> -->
            <input type="password" class="mt20" placeholder="Password" [(ngModel)]="password" />
            <button class="mt20" (click)="Login()">Login</button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>