<div class="container-fluid login-bg">
    <div class="row header-logo text-center">
        <img src="assets/images/logo-header.png" />
    </div>
    <div *ngIf="statusOfShiftReportBoolean" class="shift-report-status">{{statusOfShiftReport}}</div>
    <div *ngIf="ownedByUserBoolean" class="terminal-locked">Main Shift Is Owned By : {{ownedByUser}}</div>
    <div *ngIf="lockedByUserBoolean" class="terminal-locked">Terminal Locked By : {{lockedByUser}}</div>
    <div class=" login-section pos-relative login-bottom">
        <div class="login-container">
            <div class="alert alert-danger " *ngIf="errorMsg.length != 0">
                {{errorMsg}}
            </div>
            <input type="text" placeholder="User Name" [(ngModel)]="username" />
            <!-- <ngx-loading [show]="loading" [config]="{
                                                    primaryColour: '#006ddd', 
                                                    secondaryColour: '#ccc', 
                                                    tertiaryColour: '#006ddd' }"></ngx-loading> -->
            <input type="password" class="mt20" (keypress)="enterKey($event)" placeholder="Password" [(ngModel)]="password" />
            <button class="mt20" (click)="Login()">Login</button>
        </div>
    </div>
    <div class="modal fade" id="emptyLogin" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Authentication</h4>
                </div>

                <div class="modal-body">
                    <p>Username and Password Should not be Empty</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="errorLogin" role="dialog">
        <div class="modal-dialog modal-sm  modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Error</h4>
                </div>

                <div class="modal-body">
                    <p>Invalid Login Details</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>