<div class="warning-banner" *ngIf="disableaddFund">Maximum amount reached can not add fund</div>
<div class="main-container">
    <div class="flex container-padding flex-row">
        <div class="flex-devide">
            <div class="flex">
                <div class="flex-devide">
                    <div class="customer-info-de">
                        <div class="customer-info-de-l">Customer Name:</div>
                        <div class="customer-info-de-r">{{accountDetails.firstName}} {{accountDetails.lastName}}</div>
                    </div>
                    <div class="customer-info-de">
                        <div class="customer-info-de-l">Email:</div>
                        <div class="customer-info-de-r">{{accountDetails.emailId}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex-devide text-right">
            <button class="page-btns doNotPrint" (click)="refreshAccountDetails();">Refresh</button>

            <button class="page-btns doNotPrint" (click)="addCard()">
            Add Card</button>
            <button class="page-btns doNotPrint" [disabled]="disableaddFund" (click)="addProduct()">Add Fund/Product</button>

        </div>
    </div>


    <div class="content-container container-padding">
        <h1></h1>
    </div>

    <div class="flex container-padding flex-row">

        <table class="table-css">
            <tr>
                <th>Description</th>
                <th>Details</th>
            </tr>
            <tr *ngFor="let account of accountDetails.accountInfo">
                <td>{{account.description}}</td>
                <td>{{account.value}}</td>
            </tr>
        </table>

    </div>
    <div class="flex container-padding flex-row">
        <table class="table-css">
            <tr>
                <th>Card ID</th>
                <th>Nick Name</th>
                <th>Card status</th>
                <th>Expiry Date</th>
            </tr>
            <tr *ngFor="let cardData of accountDetails.cards">
                <td><input type="radio" name="optradio">{{cardData.pid}}</td>
                <td>{{cardData.nickName}}</td>
                <td>{{cardData.status}}</td>
                <td>{{cardData.expiryDate | date:'MM-d-yyyy h:mm:ss a'}}</td>
            </tr>
        </table>
    </div>
    <div class="container-padding">
        <div class="flex">
            <div class="flex-devide">
                <button class="back-btn doNotPrint" (click)="Back();">
                    Back</button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="addCardErrorModal" role="dialog">
    <div class="modal-dialog modal-sm  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                <h4 class="modal-title">Error</h4>
            </div>

            <div class="modal-body">
                <p>Card is already associated with this account. Please place a different card on the encoder.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>