<div class="env-containter">
    <h2>Please select a test environment</h2>
    <div class="row">
        <div class="col-md-6">
            <button>DEMO</button>
        </div>
        <div class="col-md-6">
            <button>DEV</button>
        </div>
        <div class="col-md-6">
            <button>INTG</button>
        </div>
        <div class="col-md-6">
            <button>LOCAL</button>
        </div>
        <div class="col-md-6">
            <button>PREP</button>
        </div>
        <div class="col-md-6">
            <button>QA</button>
        </div>
        <div class="col-md-6">
            <button>QE</button>
        </div>
        <div class="col-md-6">
            <button>STAGING</button>
        </div>
        <div class="col-md-6">
            <button>UAT</button>
        </div>
    </div>
</div>