.env-containter {
    padding: 15px;
}

.env-containter h2 {
    font-size: 15px;
    color: #003c79;
    margin: 0 0 70px;
}

.env-containter button {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #c4c4c4;
    margin: 0 0 3vh 0;
    color: #3b80c2;
    padding: 4vh 0;
    font-size: 2.75vh;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fdfdfd+9,fbfbfb+50,f8f8f8+75,f6f6f6+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #fdfdfd 9%, #fbfbfb 50%, #f8f8f8 75%, #f6f6f6 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #fdfdfd 9%, #fbfbfb 50%, #f8f8f8 75%, #f6f6f6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #fdfdfd 9%, #fbfbfb 50%, #f8f8f8 75%, #f6f6f6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
    /* IE6-9 */
}

.env-containter button:active {
    background: #7fc0ff;
    color: #fff;
}

.modal-custom-pop {
    max-width: 410px!important;
    width: 410px!important;
}

.modal-custom-pop .modal-header h4 {
    font-size: 21px!important;
}

.modal-custom-pop .modal-body {
    font-size: 21px!important;
    color: #000!important;
    text-align: center!important;
    padding: 20px!important;
}

.modal-custom-pop .modal-footer .btn-default {
    font-size: 21px!important;
    padding: 10px 35px!important;
    margin: 0 5px!important;
    border-radius: 12px!important;
}

.modal-custom-pop .modal-footer .btn-cancel-no {
    font-size: 21px!important;
    padding: 10px 35px!important;
    margin: 0 5px!important;
    border-radius: 12px!important;
    background: transparent!important;
    border: 1px solid #ccc!important;
}

.modal-custom-pop .modal-footer .btn-cancel-no:active {
    background: #013d79!important;
    color: #b2c4d7!important;
    outline: none!important;
}