<div class="env-containter">
    <h2>Please select a test environment</h2>
    <div class="row">
        <div class="col-md-6" *ngFor="let environment of environments; let i = index">
            <button (click)="selectEnvironment(environment)">{{environment.name}}</button>
        </div>
    </div>
</div>
<div class="modal fade" id="environmentSetupModal" role="dialog">
    <div class="modal-dialog modal-custom-pop  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are You Sure?</h4>
            </div>
            <div class="modal-body">
                <p>Choose the {{selectedEnvironment}} environment?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cancel-no" data-dismiss="modal">No, Cancel</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="navigateToDashboard()">Yes, Continue</button>

            </div>
        </div>
    </div>
</div>