<div class="black-bg">
    <div class="container-padding in-page-cont">
        <div class="shift-sales-head">
            <div class="col-md-6">
                <div class="shift-sales-txt">SHIFT SALES SUMMARY</div>
                <div class="select-clerk">
                    <label>Clerk: </label>
                    <select [(ngModel)]="selectedValue" (change)="shiftSaleSummary()">
                <option [ngValue]="undefined" selected>Select</option>
                <option *ngFor="let sale of sales" [ngValue]="sale">{{ sale.userEmail }}</option>
            </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right"><button class="print-summary-white"> PRINT SUMMARY</button></div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="shift-data-sets">
            <div class="shift-data-set">
                <table>
                    <tr>
                        <th>Quanity</th>
                        <th>Product</th>
                        <th>Value</th>
                    </tr>
                    <tr *ngFor="let salesdetail of salesData">
                        <td>{{salesdetail.quantity}}</td>
                        <td>{{salesdetail.description}}</td>
                        <td>${{salesdetail.value}}</td>
                    </tr>
                    <!-- <tr>
                    <td>1</td>
                    <td>Pay As You Go</td>
                    <td>$30.00</td>
                </tr> -->
                </table>
            </div>
            <div class="shift-data-set">
                <table>
                    <tr>
                        <th>Payment Method</th>
                        <th>Amount</th>
                    </tr>
                    <tr *ngFor="let salePayment of salesPaymentData">
                        <td>{{salePayment.paymentMethod}}</td>
                        <td>${{salePayment.paymentAmount}}</td>
                    </tr>
                    <!-- <tr>
                    <td>Credit or Debit Card</td>
                    <td>$0.00</td>
                </tr>
                <tr>
                    <td>Cash</td>
                    <td>$35.00</td>
                </tr>
                <tr>
                    <td>Credit or Debit Card</td>
                    <td>$0.00</td>
                </tr> -->
                </table>
            </div>
        </div>

        <button class="print-summary-white" [routerLink]="['/admin']" (click)="hidePopUp();"> Back to Admin</button>
    </div>

</div>