<div class="main-container ">

  <div class="content-container container-padding">
    <div class="clearfix">
      <h1>REASON FOR COMP</h1>
    </div>

  </div>
  <div class="flex-devide text-right">
    <button class="card-btn-orange "><i class="fal fa-plus-square"></i> PROCESS COMP </button>
  </div>
  <div *ngIf="reason">
    <button class="card-btn"> DEFECTIVE CARD</button>
    <button class="card-btn"> LOST CARD </button>
    <button class="card-btn"> SCHEDULE DELAYS</button>
    <button class="card-btn" (click)="compReason();"> OTHERS</button>
  </div>
  <div *ngIf="!reason">
    Enter the Reason for comp
    <input type="text" placeholder="Enter Reason For Comp" [(ngModel)]="reasonForComp">
  </div>
  <div class=" admin-btn pull-left">
    <button class="btn btn-default" (click) = "compNavigate();"> Cancel </button>
  </div>
</div>