<div class="encode-card-set">
  <h2>ENCODE CARD</h2>
  <div class="encode-card-set-block">
    <div class="pull-left glyphicon glyphicon-credit-card	
    "></div>
  
    <div class="pull-left encode-card-txt">
      <h2>Please place card {{cardJson?.printed_id}} on the reader.</h2>
      <h2>The following products will be added.</h2>
      <div *ngFor="let merch of encodeParseData">
        <h3>{{merch.Ticket.Description}} -  {{merch.Ticket.Price}}</h3>
      </div>
    </div>
  
  
  </div>
  </div>
  
  <!-- <div class="form-group  form-wiz">
    <button class="pull-left btn btn-outline-rounded btn-default" [routerLink]="['/addproduct']" (click)="goToPreviousgoToPrevious(workForm)"> Cancel</button>
    <button class="pull-right btn btn-outline-rounded btn-info encode-end" [disabled]="!workForm.valid" (click)="encodeCard()"> Encode Card </button>
  </div> -->
