<div class="main-container ">
  <div class="content-container container-padding">
    <div class="process-cota-head">
      <div class="pull-left process-cota-head-txt">REASON FOR COMP</div>
      <button class="card-btn-orange pull-right" (click)="compensation();"> PROCESS COMP </button>
      <div class="clearfix"></div>
    </div>
   
  <div *ngIf="reason" >
    <div *ngFor="let value of buttonArray; let i = index" [ngClass] = "[(i == compSelectedIndex && !compBtn) ? 'process-comp-btn' : '',(i != compSelectedIndex && !compBtn) ? 'process-comp-btn-white': '', 'process-comp-btn']">
    <button (click)="compReason(value,i);"> {{value}}</button>
    <!-- <button class="process-comp-btn"> LOST CARD </button>
    <button class="process-comp-btn"> SCHEDULE DELAYS</button>
    <button class="process-comp-btn" (click)="compReason();"> OTHERS</button> -->
    </div>
  </div>
  <div *ngIf="!reason" class="serch-txt-process">
    Enter the Reason for comp
    <input type="text" placeholder="Enter Reason For Comp" [(ngModel)]="reasonForComp">
  </div>
  <div style="margin-top:150px">
    <button class="pull-left btn btn-outline-rounded btn-default" (click) = "compNavigate();"> Cancel </button>
  </div>
</div>
</div>